
<!doctype html><!-- start coded_template: id:5082130969 path:generated_layouts/5082130965.html --><!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en" > <![endif]--><!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en" >        <![endif]--><!--[if IE 8]>    <html class="no-js lt-ie9" lang="en" >               <![endif]--><!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]--><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="author" content="Stride">
    <meta name="description" content="We are a close-knit team of skilled Agilists who share a passion for continuous improvement through software. Check out our open positions and join our team!">
    <meta name="generator" content="HubSpot">
    <title>Careers | Stride</title>
    <link rel="shortcut icon" href="https://www.stridenyc.com/hubfs/Stride-April-2016-Theme/Images/favicon-32x32.png?t=1507670451932">


    <script src="https://static.hsstatic.net/jquery-libs/static-1.1/jquery/jquery-1.7.1.js"></script>
    <script type="text/javascript">hsjQuery = window['jQuery']</script>
    <link href="https://static.hsstatic.net/content_shared_assets/static-1.4049/css/public_common.css" rel="stylesheet">
    <meta property="og:description" content="We are a close-knit team of skilled Agilists who share a passion for continuous improvement through software. Check out our open positions and join our team!">
    <meta property="og:title" content="Careers | Stride">
    <meta name="twitter:description" content="We are a close-knit team of skilled Agilists who share a passion for continuous improvement through software. Check out our open positions and join our team!">
    <meta name="twitter:title" content="Careers | Stride">






<!--  Added by GoogleAnalytics integration -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52681708-1', 'auto');
  ga('send', 'pageview');
</script>

<!-- /Added by GoogleAnalytics integration -->


    <link rel="canonical" href="https://www.stridenyc.com/careers">

<meta name="viewport" content="width=device-width, initial-scale=1">


<!-- Start Alexa Certify Javascript -->
<script type="text/javascript">
_atrk_opts = { atrk_acct:"WtBrp1IW1d106C", domain:"stridenyc.com",dynamic: true};
(function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://d31qbv1cthcecs.cloudfront.net/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
</script>
<noscript>&lt;img  src="https://d5nxst8fruw4z.cloudfront.net/atrk.gif?account=WtBrp1IW1d106C" style="display:none" height="1" width="1" alt=""&gt;</noscript>
<!-- End Alexa Certify Javascript -->

<meta name="google-site-verification" content="Fm4oTrHp4M9dC2EjPntb0EhnXt44RYXLiCgSG0iWJXo">

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-P8ZQ6M5');</script>
<!-- End Google Tag Manager -->

<!-- DO NOT MODIFY -->
<!-- Quora Pixel Code (JS Helper) -->
<script>
!function(q,e,v,n,t,s){if(q.qp) return; n=q.qp=function(){n.qp?n.qp.apply(n,arguments):n.queue.push(arguments);}; n.queue=[];t=document.createElement(e);t.async=!0;t.src=v; s=document.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t,s);}(window, 'script', 'https://a.quora.com/qevents.js');
qp('init', 'b909f807d72e45f78445ad912427e9c4');
qp('track', 'ViewContent');
</script>
<noscript>&lt;img  height="1" width="1" style="display:none" src="https://q.quora.com/_/ad/b909f807d72e45f78445ad912427e9c4/pixel?tag=ViewContent&amp;amp;noscript=1"&gt;</noscript>
<!-- End of Quora Pixel Code -->
<script>qp('track', 'Generic');</script>


<script src="https://use.typekit.net/yov6zgr.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
<meta property="og:url" content="https://www.stridenyc.com/careers">
<link rel="stylesheet" type="text/css" href="{{resolve "/css/style.css"}}">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.js"></script>

<script>
$(document).ready(function() {

    $(".line-break").unwrap();

$("[data-fancybox]").fancybox({
    buttons: false,
    smallBtn: true
});

$(".scrollTo").on("click", function(e) {
e.preventDefault();

var target = $(this).attr('href');
$('body, html').animate({
            scrollTop: parseInt($(target).offset().top )
        }, 600, function() {
            //console.log('scrolling finished');

        });
});
});
</script>


</head>
<body class="site-page careers-layout careers-v2 v3   hs-content-id-5081852835 hs-site-page page " style="">
    {{> header}}

<div class="row-fluid-wrapper row-depth-1 row-number-1 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-global_group " style="" data-widget-type="global_group" data-x="0" data-w="12">
<!-- start coded_template: id:5362753663 path:generated_global_groups/5362753662.html -->
<div class="" data-global-widget-path="generated_global_groups/5362753662.html"><div class="row-fluid-wrapper row-depth-1 row-number-1 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell custom-header-v3" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-2 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell page-center" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-3 ">
<div class="row-fluid ">
<div class="span2 widget-span widget-type-rich_text header-logo" style="" data-widget-type="rich_text" data-x="0" data-w="2">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_14594885617772456" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><a href="//www.stridenyc.com"><img src="https://www.stridenyc.com/hubfs/Stride-April-2016-Theme/Images/stridelogo.png?t=1507670451932" alt="stridenyc"></a></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
<div class="span10 widget-span widget-type-cell header-right-content" style="" data-widget-type="cell" data-x="2" data-w="10">

<div class="row-fluid-wrapper row-depth-1 row-number-4 ">
<div class="row-fluid ">
<div class="header-menu-wrapper">
    <div class="inline-block menu-holder">
        <div class="mobile-trigger"><i></i></div>

<div class="span12 widget-span widget-type-menu header--top--nav" style="" data-widget-type="menu" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_13884994340213" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_menu" style="" data-hs-cos-general-type="widget" data-hs-cos-type="menu"><div id="hs_menu_wrapper_module_13884994340213" class="hs-menu-wrapper active-branch flyouts hs-menu-flow-vertical_flyouts" role="navigation" data-sitemap-name="Stride October 2017 Theme-Header SiteMap">
 <ul class="active-branch">
  <li class="hs-menu-item hs-menu-depth-1"><a href="https://www.stridenyc.com/agile-software-development-services">How We Help</a></li>
  <li class="hs-menu-item hs-menu-depth-1"><a href="https://www.stridenyc.com/our-work">Our Work</a></li>
  <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children"><a href="javascript:;">Learn</a>
   <ul class="hs-menu-children-wrapper">
    <li class="hs-menu-item hs-menu-depth-2"><a href="https://www.stridenyc.com/agile-software-development-resources">Resource Center</a></li>
    <li class="hs-menu-item hs-menu-depth-2"><a href="https://www.stridenyc.com/podcasts">Podcast</a></li>
    <li class="hs-menu-item hs-menu-depth-2"><a href="https://www.stridenyc.com/blog">Blog</a></li>
   </ul></li>
  <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children active-branch"><a href="javascript:;">About</a>
   <ul class="hs-menu-children-wrapper active-branch">
    <li class="hs-menu-item hs-menu-depth-2"><a href="https://www.stridenyc.com/about">Company</a></li>
    <li class="hs-menu-item hs-menu-depth-2 active active-branch"><a href="https://www.stridenyc.com/careers">Careers</a></li>
    <li class="hs-menu-item hs-menu-depth-2"><a href="https://www.stridenyc.com/events">Events</a></li>
    <li class="hs-menu-item hs-menu-depth-2"><a href="https://www.stridenyc.com/stride-press">Press</a></li>
   </ul></li>
  <li class="hs-menu-item hs-menu-depth-1"><a href="https://www.stridenyc.com/contact">Contact</a></li>
 </ul>
</div></span></div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->

    </div>
    <div class="inline-block cta-holder">
        <!--HubSpot Call-to-Action Code --><span class="hs-cta-wrapper" id="hs-cta-wrapper-40a9dad6-b5f5-4b25-895f-20c01bbb80b0"><span class="hs-cta-node hs-cta-40a9dad6-b5f5-4b25-895f-20c01bbb80b0" id="hs-cta-40a9dad6-b5f5-4b25-895f-20c01bbb80b0"><!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]--><a href="https://cta-redirect.hubspot.com/cta/redirect/2136473/40a9dad6-b5f5-4b25-895f-20c01bbb80b0" target="_blank"><img class="hs-cta-img" id="hs-cta-img-40a9dad6-b5f5-4b25-895f-20c01bbb80b0" style="border-width:0px;" src="https://no-cache.hubspot.com/cta/default/2136473/40a9dad6-b5f5-4b25-895f-20c01bbb80b0.png" alt="Get Started"></a></span><script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script><script type="text/javascript"> hbspt.cta.load(2136473, '40a9dad6-b5f5-4b25-895f-20c01bbb80b0', {}); </script></span><!-- end HubSpot Call-to-Action Code -->
    </div>
</div>
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->
</div><!-- end coded_template: id:5362753663 path:generated_global_groups/5362753662.html -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

    </div><!--end header -->
</div><!--end header wrapper -->

<div class="body-container-wrapper">
    <div class="body-container container-fluid">

<div class="row-fluid-wrapper row-depth-1 row-number-1 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell row1" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-2 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell page-center hero--container" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-3 ">
<div class="row-fluid ">
<div class="span6 widget-span widget-type-cell content--holder" style="" data-widget-type="cell" data-x="0" data-w="6">

<div class="row-fluid-wrapper row-depth-1 row-number-4 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-rich_text " style="" data-widget-type="rich_text" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_14742916235087382" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><h2>Stride Careers</h2>
<h3>Work With Passionate Technologists</h3>
<p>We are a close-knit team of skilled Agilists who share a passion for continuous improvement through software. Integrity and collaboration form the foundation of our core beliefs.</p>
<p><a href="#job--listing--section" data-target=".job--listing--section" class="scrollTo">SEE OPEN POSITIONS</a></p></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
<div class="span6 widget-span widget-type-cell image--holder" style="" data-widget-type="cell" data-x="6" data-w="6">

<div class="row-fluid-wrapper row-depth-1 row-number-5 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-raw_html " style="" data-widget-type="raw_html" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_147429174208110076" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_raw_html" style="" data-hs-cos-general-type="widget" data-hs-cos-type="raw_html"><a id="fancybox-video-holder" href="//www.stridenyc.com/hubfs/LifeAtStride-2016.mp4?t=1507670451932" class="fancybox" data-fancybox-type="iframe" style="display:block;position:relative;"><img src="//www.stridenyc.com/hubfs/careers-video-bg-tall.jpg?t=1507670451932">
<i class="fa fa-play"></i>
</a></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-6 ">
<div class="row-fluid ">
<div class="glassdoor-section">
<div class="span12 widget-span widget-type-cell " style="background-color:#efefef; padding:40px 0px;" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-7 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-rich_text " style="text-align:center; margin-top:0px; padding-top:0px;" data-widget-type="rich_text" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_1487856573193576" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><h3 style="margin-top: 0px; margin-bottom: 0px;">Our Team Has a 5 Star Rating on Glassdoor</h3>
<a href="https://www.glassdoor.com/Reviews/Stride-Consulting-Reviews-E983084.htm" target="_blank" data-mce-target="_blank"><img src="//www.stridenyc.com/hs-fs/hubfs/friend.png?t=1507670451932&amp;width=283&amp;height=105&amp;name=friend.png" alt="" title="friend.png" width="283" height="105" srcset="//www.stridenyc.com/hs-fs/hubfs/friend.png?t=1507670451932&amp;width=142&amp;height=53&amp;name=friend.png 142w, //www.stridenyc.com/hs-fs/hubfs/friend.png?t=1507670451932&amp;width=283&amp;height=105&amp;name=friend.png 283w, //www.stridenyc.com/hs-fs/hubfs/friend.png?t=1507670451932&amp;width=425&amp;height=158&amp;name=friend.png 425w, //www.stridenyc.com/hs-fs/hubfs/friend.png?t=1507670451932&amp;width=566&amp;height=210&amp;name=friend.png 566w, //www.stridenyc.com/hs-fs/hubfs/friend.png?t=1507670451932&amp;width=708&amp;height=263&amp;name=friend.png 708w, //www.stridenyc.com/hs-fs/hubfs/friend.png?t=1507670451932&amp;width=849&amp;height=315&amp;name=friend.png 849w" sizes="(max-width: 283px) 100vw, 283px"></a><a href="https://www.glassdoor.com/Reviews/Stride-Consulting-Reviews-E983084.htm" target="_blank" data-mce-target="_blank"><img src="//www.stridenyc.com/hs-fs/hubfs/ceo.png?t=1507670451932&amp;width=250&amp;height=105&amp;name=ceo.png" alt="" title="ceo.png" width="250" height="105" srcset="//www.stridenyc.com/hs-fs/hubfs/ceo.png?t=1507670451932&amp;width=125&amp;height=53&amp;name=ceo.png 125w, //www.stridenyc.com/hs-fs/hubfs/ceo.png?t=1507670451932&amp;width=250&amp;height=105&amp;name=ceo.png 250w, //www.stridenyc.com/hs-fs/hubfs/ceo.png?t=1507670451932&amp;width=375&amp;height=158&amp;name=ceo.png 375w, //www.stridenyc.com/hs-fs/hubfs/ceo.png?t=1507670451932&amp;width=500&amp;height=210&amp;name=ceo.png 500w, //www.stridenyc.com/hs-fs/hubfs/ceo.png?t=1507670451932&amp;width=625&amp;height=263&amp;name=ceo.png 625w, //www.stridenyc.com/hs-fs/hubfs/ceo.png?t=1507670451932&amp;width=750&amp;height=315&amp;name=ceo.png 750w" sizes="(max-width: 250px) 100vw, 250px"></a><a href="https://www.glassdoor.com/Reviews/Stride-Consulting-Reviews-E983084.htm" target="_blank" data-mce-target="_blank"><img src="//www.stridenyc.com/hs-fs/hubfs/stars.png?t=1507670451932&amp;width=403&amp;height=104&amp;name=stars.png" alt="" title="stars.png" width="403" height="104" srcset="//www.stridenyc.com/hs-fs/hubfs/stars.png?t=1507670451932&amp;width=202&amp;height=52&amp;name=stars.png 202w, //www.stridenyc.com/hs-fs/hubfs/stars.png?t=1507670451932&amp;width=403&amp;height=104&amp;name=stars.png 403w, //www.stridenyc.com/hs-fs/hubfs/stars.png?t=1507670451932&amp;width=605&amp;height=156&amp;name=stars.png 605w, //www.stridenyc.com/hs-fs/hubfs/stars.png?t=1507670451932&amp;width=806&amp;height=208&amp;name=stars.png 806w, //www.stridenyc.com/hs-fs/hubfs/stars.png?t=1507670451932&amp;width=1008&amp;height=260&amp;name=stars.png 1008w, //www.stridenyc.com/hs-fs/hubfs/stars.png?t=1507670451932&amp;width=1209&amp;height=312&amp;name=stars.png 1209w" sizes="(max-width: 403px) 100vw, 403px"></a></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div>

</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-8 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell row2 purpose--section" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-9 ">
<div class="row-fluid ">
<div class="span4 widget-span widget-type-cell purpose--header" style="" data-widget-type="cell" data-x="0" data-w="4">

<div class="row-fluid-wrapper row-depth-1 row-number-10 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-header " style="" data-widget-type="header" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_147429722470723696" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_header" style="" data-hs-cos-general-type="widget" data-hs-cos-type="header"><h2>Our Purpose</h2></span></div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
<div class="span8 widget-span widget-type-cell purpose--content" style="" data-widget-type="cell" data-x="4" data-w="8">

<div class="row-fluid-wrapper row-depth-1 row-number-11 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-rich_text " style="" data-widget-type="rich_text" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_147429718615821276" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><div style="text-align: center;">
<h3>Work at a Purpose Driven Company</h3>
</div>
<div style="text-align: center;">Stride's purpose is to <span style="font-weight: 400;">help teams improve their business through software. We form one team with our clients, and in doing so help them&nbsp;make their&nbsp;software development quality and process a true competitive advantage</span>.</div></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-12 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell row3 core--values--section" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-13 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell page-center" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-14 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-rich_text " style="" data-widget-type="rich_text" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_147429782995930428" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><div style="text-align: center;">
<h2 id="values">Stride's Core Values</h2>
</div>
<div style="text-align: center;">We take pride in creating an environment that developers truly want to be a part of. Our core values aren't just words hung on a&nbsp;wall. Our values are alive and well every day at Stride.</div></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-15 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-widget_container " style="" data-widget-type="widget_container" data-x="0" data-w="12">
<span id="hs_cos_wrapper_module_147429830504836492" class="hs_cos_wrapper hs_cos_wrapper_widget_container hs_cos_wrapper_type_widget_container" style="" data-hs-cos-general-type="widget_container" data-hs-cos-type="widget_container"><div id="hs_cos_wrapper_widget_1474300038149" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_custom_widget" style="" data-hs-cos-general-type="widget" data-hs-cos-type="custom_widget"><div class="core--value--module">
    <span class="image--holder">

            <img src="//www.stridenyc.com/hubfs/Images/Honesty.png?t=1507670451932" alt="Stride-NYC-software-development-careers">

    </span>
    <span class="title--holder">
        <h4>
            Honesty
        </h4>
    </span>
    <span class="content--holder">
        <p>
            We are radically transparent with each other and our clients. We practice total honesty, because the truth can be hard to reveal even with complete information, but it's almost impossible to reveal when there is no honesty.
        </p>
    </span>
</div></div>
<div id="hs_cos_wrapper_widget_1474300041782" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_custom_widget" style="" data-hs-cos-general-type="widget" data-hs-cos-type="custom_widget"><div class="core--value--module">
    <span class="image--holder">

            <img src="//www.stridenyc.com/hubfs/Images/Humilty.png?t=1507670451932" alt="Stride-NYC-software-development-careers">

    </span>
    <span class="title--holder">
        <h4>
            Humility
        </h4>
    </span>
    <span class="content--holder">
        <p>
            We can always learn from others, no matter how experienced we are. We believe that no one individual is better than any other individual. We embrace the fact that we don't have all the answers, and we know that we never will.
        </p>
    </span>
</div></div>
<div id="hs_cos_wrapper_widget_1474300045809" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_custom_widget" style="" data-hs-cos-general-type="widget" data-hs-cos-type="custom_widget"><div class="core--value--module">
    <span class="image--holder">

            <img src="//www.stridenyc.com/hubfs/Images/Respect.png?t=1507670451932" alt="Stride-NYC-software-development-careers">

    </span>
    <span class="title--holder">
        <h4>
            Respect
        </h4>
    </span>
    <span class="content--holder">
        <p>
            We listen when others speak, and we respond when others inquire. We embrace different worldviews. We respect other’s opinions even if we don’t agree with them. We respect our peers, our clients, and most importantly, ourselves.
        </p>
    </span>
</div></div>
<div id="hs_cos_wrapper_widget_1474300500378" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_custom_widget" style="" data-hs-cos-general-type="widget" data-hs-cos-type="custom_widget"><div class="core--value--module">
    <span class="image--holder">

            <img src="//www.stridenyc.com/hubfs/Images/LearnFailure.png?t=1507670451932" alt="Stride-NYC-software-development-careers">

    </span>
    <span class="title--holder">
        <h4>
            Learning from Failure
        </h4>
    </span>
    <span class="content--holder">
        <p>
            Our failures are our most potent opportunities for learning. We reflect on and learn from our failures in order to continuously improve.
        </p>
    </span>
</div></div>
<div id="hs_cos_wrapper_widget_1474300505440" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_custom_widget" style="" data-hs-cos-general-type="widget" data-hs-cos-type="custom_widget"><div class="core--value--module">
    <span class="image--holder">

            <img src="//www.stridenyc.com/hubfs/Images/Helpfulness.png?t=1507670451932" alt="Stride-NYC-software-development-careers">

    </span>
    <span class="title--holder">
        <h4>
            Willingness to Help Others
        </h4>
    </span>
    <span class="content--holder">
        <p>
            We make time when possible to assist others in need. Often this is other Striders and our Clients, but this value extends into the community as well.
        </p>
    </span>
</div></div></span>
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-16 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell culture--section row4" style="opacity:0;" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-17 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell page-center" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-18 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell culture--section--inner" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-19 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-header " style="" data-widget-type="header" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_14761914808838787" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_header" style="" data-hs-cos-general-type="widget" data-hs-cos-type="header"><h3>The Stride Culture</h3></span></div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-20 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-rich_text " style="" data-widget-type="rich_text" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_147619152273313088" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><p>We take pride in creating an environment that developers truly want to be a part of. We immerse ourselves in our clients’ culture, help them create high quality code and set them&nbsp;up for long term success.</p>
<p><img src="//www.stridenyc.com/hs-fs/hubfs/crains.jpeg?t=1507670451932&amp;width=145&amp;name=crains.jpeg" alt="Crain's 2016" width="145" style="width: 145px;" srcset="//www.stridenyc.com/hs-fs/hubfs/crains.jpeg?t=1507670451932&amp;width=73&amp;name=crains.jpeg 73w, //www.stridenyc.com/hs-fs/hubfs/crains.jpeg?t=1507670451932&amp;width=145&amp;name=crains.jpeg 145w, //www.stridenyc.com/hs-fs/hubfs/crains.jpeg?t=1507670451932&amp;width=218&amp;name=crains.jpeg 218w, //www.stridenyc.com/hs-fs/hubfs/crains.jpeg?t=1507670451932&amp;width=290&amp;name=crains.jpeg 290w, //www.stridenyc.com/hs-fs/hubfs/crains.jpeg?t=1507670451932&amp;width=363&amp;name=crains.jpeg 363w, //www.stridenyc.com/hs-fs/hubfs/crains.jpeg?t=1507670451932&amp;width=435&amp;name=crains.jpeg 435w" sizes="(max-width: 145px) 100vw, 145px"></p></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-21 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-widget_container culture--section--imagess" style="opacity:1!important;" data-widget-type="widget_container" data-x="0" data-w="12">
<span id="hs_cos_wrapper_module_14762095335472046" class="hs_cos_wrapper hs_cos_wrapper_widget_container hs_cos_wrapper_type_widget_container" style="" data-hs-cos-general-type="widget_container" data-hs-cos-type="widget_container"><div id="hs_cos_wrapper_widget_1476211830702" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_linked_image" style="" data-hs-cos-general-type="widget" data-hs-cos-type="linked_image"><img src="//www.stridenyc.com/hs-fs/hubfs/TeamCrop.png?t=1507670451932&amp;width=365&amp;name=TeamCrop.png" class="hs-image-widget " style="width:365px;border-width:0px;border:0px;" width="365" alt="Stride-NYC-software-development-careers" title="Stride-NYC-software-development-careers" srcset="//www.stridenyc.com/hs-fs/hubfs/TeamCrop.png?t=1507670451932&amp;width=183&amp;name=TeamCrop.png 183w, //www.stridenyc.com/hs-fs/hubfs/TeamCrop.png?t=1507670451932&amp;width=365&amp;name=TeamCrop.png 365w, //www.stridenyc.com/hs-fs/hubfs/TeamCrop.png?t=1507670451932&amp;width=548&amp;name=TeamCrop.png 548w, //www.stridenyc.com/hs-fs/hubfs/TeamCrop.png?t=1507670451932&amp;width=730&amp;name=TeamCrop.png 730w, //www.stridenyc.com/hs-fs/hubfs/TeamCrop.png?t=1507670451932&amp;width=913&amp;name=TeamCrop.png 913w, //www.stridenyc.com/hs-fs/hubfs/TeamCrop.png?t=1507670451932&amp;width=1095&amp;name=TeamCrop.png 1095w" sizes="(max-width: 365px) 100vw, 365px"></div>
<div id="hs_cos_wrapper_widget_1495105875996" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_linked_image" style="" data-hs-cos-general-type="widget" data-hs-cos-type="linked_image"><img src="//www.stridenyc.com/hs-fs/hubfs/new_careers_photos/image_b.jpg?t=1507670451932&amp;width=1500&amp;name=image_b.jpg" class="hs-image-widget " style="width:1500px;border-width:0px;border:0px;" width="1500" alt="Stride-NYC-software-development-careers" title="Stride-NYC-software-development-careers" srcset="//www.stridenyc.com/hs-fs/hubfs/new_careers_photos/image_b.jpg?t=1507670451932&amp;width=750&amp;name=image_b.jpg 750w, //www.stridenyc.com/hs-fs/hubfs/new_careers_photos/image_b.jpg?t=1507670451932&amp;width=1500&amp;name=image_b.jpg 1500w, //www.stridenyc.com/hs-fs/hubfs/new_careers_photos/image_b.jpg?t=1507670451932&amp;width=2250&amp;name=image_b.jpg 2250w, //www.stridenyc.com/hs-fs/hubfs/new_careers_photos/image_b.jpg?t=1507670451932&amp;width=3000&amp;name=image_b.jpg 3000w, //www.stridenyc.com/hs-fs/hubfs/new_careers_photos/image_b.jpg?t=1507670451932&amp;width=3750&amp;name=image_b.jpg 3750w, //www.stridenyc.com/hs-fs/hubfs/new_careers_photos/image_b.jpg?t=1507670451932&amp;width=4500&amp;name=image_b.jpg 4500w" sizes="(max-width: 1500px) 100vw, 1500px"></div>
<div id="hs_cos_wrapper_widget_1495105978928" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_linked_image" style="" data-hs-cos-general-type="widget" data-hs-cos-type="linked_image"><img src="//www.stridenyc.com/hs-fs/hubfs/new_careers_photos/image_c.jpg?t=1507670451932&amp;width=1500&amp;name=image_c.jpg" class="hs-image-widget " style="width:1500px;border-width:0px;border:0px;" width="1500" alt="Stride-NYC-software-development-careers" title="Stride-NYC-software-development-careers" srcset="//www.stridenyc.com/hs-fs/hubfs/new_careers_photos/image_c.jpg?t=1507670451932&amp;width=750&amp;name=image_c.jpg 750w, //www.stridenyc.com/hs-fs/hubfs/new_careers_photos/image_c.jpg?t=1507670451932&amp;width=1500&amp;name=image_c.jpg 1500w, //www.stridenyc.com/hs-fs/hubfs/new_careers_photos/image_c.jpg?t=1507670451932&amp;width=2250&amp;name=image_c.jpg 2250w, //www.stridenyc.com/hs-fs/hubfs/new_careers_photos/image_c.jpg?t=1507670451932&amp;width=3000&amp;name=image_c.jpg 3000w, //www.stridenyc.com/hs-fs/hubfs/new_careers_photos/image_c.jpg?t=1507670451932&amp;width=3750&amp;name=image_c.jpg 3750w, //www.stridenyc.com/hs-fs/hubfs/new_careers_photos/image_c.jpg?t=1507670451932&amp;width=4500&amp;name=image_c.jpg 4500w" sizes="(max-width: 1500px) 100vw, 1500px"></div>
<div id="hs_cos_wrapper_widget_1495106057083" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_linked_image" style="" data-hs-cos-general-type="widget" data-hs-cos-type="linked_image"><img src="//www.stridenyc.com/hs-fs/hubfs/new_careers_photos/image_d_backup.jpg?t=1507670451932&amp;width=1500&amp;name=image_d_backup.jpg" class="hs-image-widget " style="width:1500px;border-width:0px;border:0px;" width="1500" alt="Stride-NYC-software-development-careers" title="Stride-NYC-software-development-careers" srcset="//www.stridenyc.com/hs-fs/hubfs/new_careers_photos/image_d_backup.jpg?t=1507670451932&amp;width=750&amp;name=image_d_backup.jpg 750w, //www.stridenyc.com/hs-fs/hubfs/new_careers_photos/image_d_backup.jpg?t=1507670451932&amp;width=1500&amp;name=image_d_backup.jpg 1500w, //www.stridenyc.com/hs-fs/hubfs/new_careers_photos/image_d_backup.jpg?t=1507670451932&amp;width=2250&amp;name=image_d_backup.jpg 2250w, //www.stridenyc.com/hs-fs/hubfs/new_careers_photos/image_d_backup.jpg?t=1507670451932&amp;width=3000&amp;name=image_d_backup.jpg 3000w, //www.stridenyc.com/hs-fs/hubfs/new_careers_photos/image_d_backup.jpg?t=1507670451932&amp;width=3750&amp;name=image_d_backup.jpg 3750w, //www.stridenyc.com/hs-fs/hubfs/new_careers_photos/image_d_backup.jpg?t=1507670451932&amp;width=4500&amp;name=image_d_backup.jpg 4500w" sizes="(max-width: 1500px) 100vw, 1500px"></div>
<div id="hs_cos_wrapper_widget_1495106096765" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_linked_image" style="" data-hs-cos-general-type="widget" data-hs-cos-type="linked_image"><img src="//www.stridenyc.com/hs-fs/hubfs/new_careers_photos/image_e.jpg?t=1507670451932&amp;width=1500&amp;name=image_e.jpg" class="hs-image-widget " style="width:1500px;border-width:0px;border:0px;" width="1500" alt="Stride-NYC-software-development-careers" title="Stride-NYC-software-development-careers" srcset="//www.stridenyc.com/hs-fs/hubfs/new_careers_photos/image_e.jpg?t=1507670451932&amp;width=750&amp;name=image_e.jpg 750w, //www.stridenyc.com/hs-fs/hubfs/new_careers_photos/image_e.jpg?t=1507670451932&amp;width=1500&amp;name=image_e.jpg 1500w, //www.stridenyc.com/hs-fs/hubfs/new_careers_photos/image_e.jpg?t=1507670451932&amp;width=2250&amp;name=image_e.jpg 2250w, //www.stridenyc.com/hs-fs/hubfs/new_careers_photos/image_e.jpg?t=1507670451932&amp;width=3000&amp;name=image_e.jpg 3000w, //www.stridenyc.com/hs-fs/hubfs/new_careers_photos/image_e.jpg?t=1507670451932&amp;width=3750&amp;name=image_e.jpg 3750w, //www.stridenyc.com/hs-fs/hubfs/new_careers_photos/image_e.jpg?t=1507670451932&amp;width=4500&amp;name=image_e.jpg 4500w" sizes="(max-width: 1500px) 100vw, 1500px"></div>
<div id="hs_cos_wrapper_widget_1495106159880" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_linked_image" style="" data-hs-cos-general-type="widget" data-hs-cos-type="linked_image"><img src="//www.stridenyc.com/hs-fs/hubfs/new_careers_photos/image_f.jpg?t=1507670451932&amp;width=1351&amp;name=image_f.jpg" class="hs-image-widget " style="width:1351px;border-width:0px;border:0px;" width="1351" alt="Stride-NYC-software-development-careers" title="Stride-NYC-software-development-careers" srcset="//www.stridenyc.com/hs-fs/hubfs/new_careers_photos/image_f.jpg?t=1507670451932&amp;width=676&amp;name=image_f.jpg 676w, //www.stridenyc.com/hs-fs/hubfs/new_careers_photos/image_f.jpg?t=1507670451932&amp;width=1351&amp;name=image_f.jpg 1351w, //www.stridenyc.com/hs-fs/hubfs/new_careers_photos/image_f.jpg?t=1507670451932&amp;width=2027&amp;name=image_f.jpg 2027w, //www.stridenyc.com/hs-fs/hubfs/new_careers_photos/image_f.jpg?t=1507670451932&amp;width=2702&amp;name=image_f.jpg 2702w, //www.stridenyc.com/hs-fs/hubfs/new_careers_photos/image_f.jpg?t=1507670451932&amp;width=3378&amp;name=image_f.jpg 3378w, //www.stridenyc.com/hs-fs/hubfs/new_careers_photos/image_f.jpg?t=1507670451932&amp;width=4053&amp;name=image_f.jpg 4053w" sizes="(max-width: 1351px) 100vw, 1351px"></div>
<div id="hs_cos_wrapper_widget_1495106204878" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_linked_image" style="" data-hs-cos-general-type="widget" data-hs-cos-type="linked_image"><img src="//www.stridenyc.com/hs-fs/hubfs/new_careers_photos/image_g.jpg?t=1507670451932&amp;width=1500&amp;name=image_g.jpg" class="hs-image-widget " style="width:1500px;border-width:0px;border:0px;" width="1500" alt="Stride-NYC-software-development-careers" title="Stride-NYC-software-development-careers" srcset="//www.stridenyc.com/hs-fs/hubfs/new_careers_photos/image_g.jpg?t=1507670451932&amp;width=750&amp;name=image_g.jpg 750w, //www.stridenyc.com/hs-fs/hubfs/new_careers_photos/image_g.jpg?t=1507670451932&amp;width=1500&amp;name=image_g.jpg 1500w, //www.stridenyc.com/hs-fs/hubfs/new_careers_photos/image_g.jpg?t=1507670451932&amp;width=2250&amp;name=image_g.jpg 2250w, //www.stridenyc.com/hs-fs/hubfs/new_careers_photos/image_g.jpg?t=1507670451932&amp;width=3000&amp;name=image_g.jpg 3000w, //www.stridenyc.com/hs-fs/hubfs/new_careers_photos/image_g.jpg?t=1507670451932&amp;width=3750&amp;name=image_g.jpg 3750w, //www.stridenyc.com/hs-fs/hubfs/new_careers_photos/image_g.jpg?t=1507670451932&amp;width=4500&amp;name=image_g.jpg 4500w" sizes="(max-width: 1500px) 100vw, 1500px"></div>
<div id="hs_cos_wrapper_widget_1495108200545" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_linked_image" style="" data-hs-cos-general-type="widget" data-hs-cos-type="linked_image"><img src="//www.stridenyc.com/hs-fs/hubfs/new_careers_photos/image_h_backup_2.jpg?t=1507670451932&amp;width=1500&amp;name=image_h_backup_2.jpg" class="hs-image-widget " style="width:1500px;border-width:0px;border:0px;" width="1500" alt="Stride-NYC-software-development-careers" title="Stride-NYC-software-development-careers" srcset="//www.stridenyc.com/hs-fs/hubfs/new_careers_photos/image_h_backup_2.jpg?t=1507670451932&amp;width=750&amp;name=image_h_backup_2.jpg 750w, //www.stridenyc.com/hs-fs/hubfs/new_careers_photos/image_h_backup_2.jpg?t=1507670451932&amp;width=1500&amp;name=image_h_backup_2.jpg 1500w, //www.stridenyc.com/hs-fs/hubfs/new_careers_photos/image_h_backup_2.jpg?t=1507670451932&amp;width=2250&amp;name=image_h_backup_2.jpg 2250w, //www.stridenyc.com/hs-fs/hubfs/new_careers_photos/image_h_backup_2.jpg?t=1507670451932&amp;width=3000&amp;name=image_h_backup_2.jpg 3000w, //www.stridenyc.com/hs-fs/hubfs/new_careers_photos/image_h_backup_2.jpg?t=1507670451932&amp;width=3750&amp;name=image_h_backup_2.jpg 3750w, //www.stridenyc.com/hs-fs/hubfs/new_careers_photos/image_h_backup_2.jpg?t=1507670451932&amp;width=4500&amp;name=image_h_backup_2.jpg 4500w" sizes="(max-width: 1500px) 100vw, 1500px"></div></span>
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-22 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-raw_html " style="display:none;" data-widget-type="raw_html" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_147619296351924602" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_raw_html" style="" data-hs-cos-general-type="widget" data-hs-cos-type="raw_html"><script>
(function($) {
if ($.fn.style) {
return;
}
// Escape regex chars with \
var escape = function(text) {
return text.replace(/[-[\]{}()*+?.,\\^$|#\s]/g, "\\$&");
};
// For those who need them (< IE 9), add support for CSS functions
var isStyleFuncSupported = !!CSSStyleDeclaration.prototype.getPropertyValue;
if (!isStyleFuncSupported) {
CSSStyleDeclaration.prototype.getPropertyValue = function(a) {
return this.getAttribute(a);
};
CSSStyleDeclaration.prototype.setProperty = function(styleName, value, priority) {
this.setAttribute(styleName, value);
var priority = typeof priority != 'undefined' ? priority : '';
if (priority != '') {
// Add priority manually
var rule = new RegExp(escape(styleName) + '\\s*:\\s*' + escape(value) +
'(\\s*;)?', 'gmi');
this.cssText =
this.cssText.replace(rule, styleName + ': ' + value + ' !' + priority + ';');
}
};
CSSStyleDeclaration.prototype.removeProperty = function(a) {
return this.removeAttribute(a);
};
CSSStyleDeclaration.prototype.getPropertyPriority = function(styleName) {
var rule = new RegExp(escape(styleName) + '\\s*:\\s*[^\\s]*\\s*!important(\\s*;)?',
'gmi');
return rule.test(this.cssText) ? 'important' : '';
}
}
// The style function
$.fn.style = function(styleName, value, priority) {
// DOM node
var node = this.get(0);
// Ensure we have a DOM node
if (typeof node == 'undefined') {
return this;
}
// CSSStyleDeclaration
var style = this.get(0).style;
// Getter/Setter
if (typeof styleName != 'undefined') {
if (typeof value != 'undefined') {
// Set style property
priority = typeof priority != 'undefined' ? priority : '';
style.setProperty(styleName, value, priority);
return this;
} else {
// Get style property
return style.getPropertyValue(styleName);
}
} else {
// Get CSSStyleDeclaration
return style;
}
};
})(jQuery);
function cultureSection() {
$('.culture--section--imagess img').attr('style','height:'+(Math.ceil($('.culture--section--inner').outerHeight(true)/2))+'px !important;');
cultureWidth = 0;
$('.culture--section--images--inner--top--left img').each(function () {
cultureWidth += Math.ceil($(this).outerWidth());
});
$('.culture--section--images--inner--top--left').attr('style','margin-right:'+(Math.ceil($('.culture--section--inner').outerWidth()/2))+'px !important;'+'width:'+cultureWidth+'px !important;');
cultureWidth = 0;
$('.culture--section--images--inner--top--right img').each(function () {
cultureWidth += Math.ceil($(this).outerWidth());
});
$('.culture--section--images--inner--top--right').attr('style','margin-left:'+(Math.ceil($('.culture--section--inner').outerWidth()/2))+'px !important;'+'width:'+cultureWidth+'px !important;');
cultureWidth = 0;
$('.culture--section--images--inner--bottom--left img').each(function () {
cultureWidth += Math.ceil($(this).outerWidth());
});
$('.culture--section--images--inner--bottom--left').attr('style','margin-right:'+(Math.ceil($('.culture--section--inner').outerWidth()/2))+'px !important;'+'width:'+cultureWidth+'px !important;'+'top:'+(Math.ceil($('.culture--section--inner').outerHeight(true)/2))+'px !important;');
cultureWidth = 0;
$('.culture--section--images--inner--bottom--right img').each(function () {
cultureWidth += Math.ceil($(this).outerWidth());
});
$('.culture--section--images--inner--bottom--right').attr('style','margin-left:'+(Math.ceil($('.culture--section--inner').outerWidth()/2))+'px !important;'+'width:'+cultureWidth+'px !important;'+'top:'+(Math.ceil($('.culture--section--inner').outerHeight(true)/2))+'px !important;');
}
$(document).ready(function() {
$('.culture--section--imagess').each(function() {
var $imgs = $(this).find("img")
$imgs.each(function(i) {
var src = $(this).attr("src");
if(i==1 || i==5 ) {
$(this).after("<span class='spacer' />");
}
if(i==3 ) {
$(this).after("<span class='palm-spacer' />");
}
$(this).wrap("<span class='image--holder' style='background-image:url("+src+");' />");
});
$(this).find(".hs_cos_wrapper.hs_cos_wrapper_widget_container.hs_cos_wrapper_type_widget_container > .hs_cos_wrapper > *").unwrap();
});
});
if(!$("body").hasClass("v3")) {
if ($('.culture--section--imagess img').length %2 != 0) {
$('.culture--section--imagess img:eq(0)').clone().appendTo(".culture--section--imagess .hs_cos_wrapper_type_widget_container");
}
$('.culture--section--imagess .hs_cos_wrapper_type_widget_container:eq(1)').after("<span class='spacer' />");
$('.culture--section--imagess .hs_cos_wrapper_type_widget_container').append($('.culture--section--imagess .hs_cos_wrapper_type_widget_container').html());
$('.culture--section--imagess .hs_cos_wrapper_type_widget_container > img').slice(0,(Math.ceil($('.culture--section--imagess .hs_cos_wrapper_type_widget_container > img').length-1)/4)+1).wrapAll('<span class="culture--section--images--inner--top--left" />');
$('.culture--section--imagess .hs_cos_wrapper_type_widget_container > img').slice(Math.ceil(1*($('.culture--section--imagess .hs_cos_wrapper_type_widget_container > img').length-1)/4),(2*($('.culture--section--imagess .hs_cos_wrapper_type_widget_container > img').length-1)/4)+1).wrapAll('<span class="culture--section--images--inner--top--right" />');
$('.culture--section--imagess .hs_cos_wrapper_type_widget_container > img').slice(Math.ceil(2*($('.culture--section--imagess .hs_cos_wrapper_type_widget_container > img').length-1)/4),(3*($('.culture--section--imagess .hs_cos_wrapper_type_widget_container > img').length-1)/4)+3).wrapAll('<span class="culture--section--images--inner--bottom--left" />');
$('.culture--section--imagess .hs_cos_wrapper_type_widget_container > img').slice(0).wrapAll('<span class="culture--section--images--inner--bottom--right" />');
}
$(document).ready(function () {
//cultureSection();
$('.culture--section, .culture--section--imagess').css('opacity','1');
$(window).resize(function () {
//cultureSection();
var space = parseInt((($(window).width() - $(".culture--section--inner").outerWidth()) / 4) - 0 );
console.log(space+"px");
$('.culture--section--imagess .image--holder').css('width',space+"px");
$('.culture--section--imagess .spacer').css('width',($(".culture--section--inner").outerWidth() - 1)+"px");
$('.culture--section--imagess .palm-spacer').css('height',($(".culture--section--inner").outerHeight())+"px");
});
$(window).trigger("resize");
});
</script></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-23 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell video--section row5-2" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-24 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell page-center" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-25 ">
<div class="row-fluid ">
<div class="span6 widget-span widget-type-rich_text " style="" data-widget-type="rich_text" data-x="0" data-w="6">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_14942761304121085" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><h3><span>Stride Ski Trip</span></h3>
<p>At Stride, we take great pride in having a culture our team truly loves to be a part of. Our annual ski trip to Plattekill Mountain presents a great opportunity to bring our core values to an off-site venue.</p></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
<div class="span6 widget-span widget-type-raw_jinja " style="" data-widget-type="raw_jinja" data-x="6" data-w="6">
<div class="video--holder">
    <a data-fancybox="embed" href="//www.stridenyc.com/hubfs/Ski_Trip_Video.mp4?t=1507670451932">

        <img src="//www.stridenyc.com/hs-fs/hubfs/ski--video--thumbnail.jpg?t=1507670451932&amp;width=461&amp;name=ski--video--thumbnail.jpg" class="hs-image-widget " style="width:461px;border-width:0px;border:0px;" width="461" alt="Stride-NYC-software-development-careers" title="Stride-NYC-software-development-careers" srcset="//www.stridenyc.com/hs-fs/hubfs/ski--video--thumbnail.jpg?t=1507670451932&amp;width=231&amp;name=ski--video--thumbnail.jpg 231w, //www.stridenyc.com/hs-fs/hubfs/ski--video--thumbnail.jpg?t=1507670451932&amp;width=461&amp;name=ski--video--thumbnail.jpg 461w, //www.stridenyc.com/hs-fs/hubfs/ski--video--thumbnail.jpg?t=1507670451932&amp;width=692&amp;name=ski--video--thumbnail.jpg 692w, //www.stridenyc.com/hs-fs/hubfs/ski--video--thumbnail.jpg?t=1507670451932&amp;width=922&amp;name=ski--video--thumbnail.jpg 922w, //www.stridenyc.com/hs-fs/hubfs/ski--video--thumbnail.jpg?t=1507670451932&amp;width=1153&amp;name=ski--video--thumbnail.jpg 1153w, //www.stridenyc.com/hs-fs/hubfs/ski--video--thumbnail.jpg?t=1507670451932&amp;width=1383&amp;name=ski--video--thumbnail.jpg 1383w" sizes="(max-width: 461px) 100vw, 461px">

        <i class="fa fa-play-circle-o">&nbsp;</i>


    </a>
</div></div><!--end widget-span -->

</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-26 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell connect--section row5-5" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-27 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell " style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-28 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell page-center" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-29 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-header " style="" data-widget-type="header" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_1494275095184631" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_header" style="" data-hs-cos-general-type="widget" data-hs-cos-type="header"><h3>Connect With Us</h3></span></div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-30 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-widget_container Connect Social Links" style="" data-widget-type="widget_container" data-x="0" data-w="12">
<span id="hs_cos_wrapper_module_1494275014927624" class="hs_cos_wrapper hs_cos_wrapper_widget_container hs_cos_wrapper_type_widget_container" style="" data-hs-cos-general-type="widget_container" data-hs-cos-type="widget_container"><div id="hs_cos_wrapper_widget_1494275241543" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><ul>
<li><a href="https://www.facebook.com/stridenyc"><i class="fa fa-facebook">&nbsp;</i></a></li>
<li><a href="https://twitter.com/StrideDev"><i class="fa fa-twitter">&nbsp;</i></a></li>
<li><a href="https://www.linkedin.com/company-beta/5142627/"><i class="fa fa-linkedin">&nbsp;</i></a></li>
<li><a href="https://plus.google.com/+stridenycdev"><i class="fa fa-google-plus">&nbsp;</i></a></li>
<li><a href="https://www.youtube.com/channel/UCcKUZuNQO4g93XJIylnps2A"><i class="fa fa-youtube">&nbsp;</i></a></li>
</ul></div></span>
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-31 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell testimonial--section row6" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-32 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell page-center" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-33 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-widget_container " style="" data-widget-type="widget_container" data-x="0" data-w="12">
<span id="hs_cos_wrapper_module_14743053233929481" class="hs_cos_wrapper hs_cos_wrapper_widget_container hs_cos_wrapper_type_widget_container" style="" data-hs-cos-general-type="widget_container" data-hs-cos-type="widget_container"><div id="hs_cos_wrapper_widget_1494272209471" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_custom_widget" style="" data-hs-cos-general-type="widget" data-hs-cos-type="custom_widget"><div class="testimonial--module v2">
    <div class="inner">
        <span class="image--holder">

                <img src="//www.stridenyc.com/hubfs/34d7bd0.jpg?t=1507670451932" alt="Stride-NYC-software-development-careers">

        </span>
        <span class="testimonial--holder">
            <p>
                "I love that I have a big say in the types of clients and projects that I work on. Stride is really developer focused, and you feel that."



            </p>
            <p>
                <strong>
                    <br>Cody, Senior Developer Consultant
                </strong>
            </p>
        </span>
        <br style="clear:both;">
    </div>
</div></div>
<div id="hs_cos_wrapper_widget_1494272222530" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_custom_widget" style="" data-hs-cos-general-type="widget" data-hs-cos-type="custom_widget"><div class="testimonial--module v2">
    <div class="inner">
        <span class="image--holder">

                <img src="//www.stridenyc.com/hubfs/ann-new-headshot.jpg?t=1507670451932" alt="Stride-NYC-software-development-careers">

        </span>
        <span class="testimonial--holder">
            <p>
                "I wake up every morning excited to go to work. The people I'm with all day for most of the week, they've become family in such a short time. That's something I've been waiting for my whole adult life."



            </p>
            <p>
                <strong>
                    AnnMarie, Office Manager
                </strong>
            </p>
        </span>
        <br style="clear:both;">
    </div>
</div></div>
<div id="hs_cos_wrapper_widget_1494272228604" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_custom_widget" style="" data-hs-cos-general-type="widget" data-hs-cos-type="custom_widget"><div class="testimonial--module v2">
    <div class="inner">
        <span class="image--holder">

                <img src="//www.stridenyc.com/hubfs/AAEAAQAAAAAAAAMwAAAAJDNmZjAwMGM5LTYzMWUtNGMyNy1iZGEwLTkxNGZiNjVhNWQwMQ.jpg?t=1507670451932" alt="Stride-NYC-software-development-careers">

        </span>
        <span class="testimonial--holder">
            <p>
                "There is no conflict between working on becoming a better developer and person and advancing at my career at Stride."



            </p>
            <p>
                <strong>
                    <br><br>Emmanuel, Developer Consultant
                </strong>
            </p>
        </span>
        <br style="clear:both;">
    </div>
</div></div></span>
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-34 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell benefits--section row5" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-35 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell page-center" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-36 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-rich_text " style="" data-widget-type="rich_text" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_14743028614323681" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><div style="text-align: center;">
<h2 id="benefits">Our Benefits</h2>
</div></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-37 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell no--benefit--holder" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-38 ">
<div class="row-fluid ">
<div class="inner--holder"><div class="left--holder"><img class="image" src="//www.stridenyc.com/hubfs/NoTravelBenefit.jpg?t=1507670451932"></div><div class="right--holder">
<div class="span12 widget-span widget-type-rich_text " style="" data-widget-type="rich_text" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_147430315246411259" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><h3>All of our clients are in NYC. That means no travel.</h3></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
        </div></div>
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-39 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-widget_container " style="" data-widget-type="widget_container" data-x="0" data-w="12">
<span id="hs_cos_wrapper_module_14743037694072886" class="hs_cos_wrapper hs_cos_wrapper_widget_container hs_cos_wrapper_type_widget_container" style="" data-hs-cos-general-type="widget_container" data-hs-cos-type="widget_container"><div id="hs_cos_wrapper_widget_1474304322188" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_custom_widget" style="" data-hs-cos-general-type="widget" data-hs-cos-type="custom_widget"><div class="benefit--module">
    <span class="image--holder">


            <i class="fa fa-money">&nbsp;</i>

    </span>
    <span class="content--holder">
        <span class="title--holder">
            <h4>
                Amazing Compensation
            </h4>
        </span>
        <span class="content--holder">
            <p>
                We understand money isn't everything, but it is important. We pay Striders well, and every Strider gets profit sharing bonus too!
            </p>
        </span>
    </span>
    <br style="clear:both;">
</div></div>
<div id="hs_cos_wrapper_widget_1474304334359" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_custom_widget" style="" data-hs-cos-general-type="widget" data-hs-cos-type="custom_widget"><div class="benefit--module">
    <span class="image--holder">


            <i class="fa fa-clock-o">&nbsp;</i>

    </span>
    <span class="content--holder">
        <span class="title--holder">
            <h4>
                Flexible Work Hours &amp; PAID FAMILY LEAVE
            </h4>
        </span>
        <span class="content--holder">
            <p>
                All vacation and holidays are floating. Every Strider decides for themselves when to take time off of work. And, we have a generous paid family leave policy.
            </p>
        </span>
    </span>
    <br style="clear:both;">
</div></div>
<div id="hs_cos_wrapper_widget_1474304339164" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_custom_widget" style="" data-hs-cos-general-type="widget" data-hs-cos-type="custom_widget"><div class="benefit--module">
    <span class="image--holder">


            <i class="fa fa-heart">&nbsp;</i>

    </span>
    <span class="content--holder">
        <span class="title--holder">
            <h4>
                Health Insurance &amp; 401(k)
            </h4>
        </span>
        <span class="content--holder">
            <p>
                Stride offers comprehensive health, dental, and vision insurance for everyone. We also offer a match on your 401(k) contributions that vests IMMEDIATELY!
            </p>
        </span>
    </span>
    <br style="clear:both;">
</div></div>
<div id="hs_cos_wrapper_widget_1474304350021" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_custom_widget" style="" data-hs-cos-general-type="widget" data-hs-cos-type="custom_widget"><div class="benefit--module">
    <span class="image--holder">


            <i class="fa fa-pencil">&nbsp;</i>

    </span>
    <span class="content--holder">
        <span class="title--holder">
            <h4>
                Paid Professional Development Time &amp; Budget
            </h4>
        </span>
        <span class="content--holder">
            <p>
                Every Strider gets time and money to learn. And, if you speak at a conference, it's fully covered by Stride.
            </p>
        </span>
    </span>
    <br style="clear:both;">
</div></div>
<div id="hs_cos_wrapper_widget_1474304345228" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_custom_widget" style="" data-hs-cos-general-type="widget" data-hs-cos-type="custom_widget"><div class="benefit--module">
    <span class="image--holder">


            <i class="fa fa-bed">&nbsp;</i>

    </span>
    <span class="content--holder">
        <span class="title--holder">
            <h4>
                A True, Sustainable Work/Life Balance
            </h4>
        </span>
        <span class="content--holder">
            <p>
                We work at a sustainable pace and give all Striders the freedom to decide what that means for them.
            </p>
        </span>
    </span>
    <br style="clear:both;">
</div></div>
<div id="hs_cos_wrapper_widget_1484320227026" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_custom_widget" style="" data-hs-cos-general-type="widget" data-hs-cos-type="custom_widget"><div class="benefit--module">
    <span class="image--holder">


            <i class="fa fa-rocket">&nbsp;</i>

    </span>
    <span class="content--holder">
        <span class="title--holder">
            <h4>
                Promotions At Any Time
            </h4>
        </span>
        <span class="content--holder">
            <p>
                Nominate yourself or another Strider for a promotion at any time, 365 days per year. And, every Strider gets a buddy, mentor and a manager. The result: a team of Striders helping you craft the ideal career path for you.
            </p>
        </span>
    </span>
    <br style="clear:both;">
</div></div>
<div id="hs_cos_wrapper_widget_1493655845515" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_custom_widget" style="" data-hs-cos-general-type="widget" data-hs-cos-type="custom_widget"><div class="benefit--module">
    <span class="image--holder">


            <i class="fa fa-graduation-cap">&nbsp;</i>

    </span>
    <span class="content--holder">
        <span class="title--holder">
            <h4>
                Stride University
            </h4>
        </span>
        <span class="content--holder">
            <p>
                We continuously invest in the ongoing education of Striders. Stride University is 100% created and run by Striders for Striders.
            </p>
        </span>
    </span>
    <br style="clear:both;">
</div></div>
<div id="hs_cos_wrapper_widget_1493657209576" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_custom_widget" style="" data-hs-cos-general-type="widget" data-hs-cos-type="custom_widget"><div class="benefit--module">
    <span class="image--holder">


            <i class="fa fa-calendar">&nbsp;</i>

    </span>
    <span class="content--holder">
        <span class="title--holder">
            <h4>
                Open Space &amp; Lean Coffee
            </h4>
        </span>
        <span class="content--holder">
            <p>
                Our <a href="http://openspaceworld.org/wp2/what-is/">open space</a> and <a href="http://leancoffee.org/">lean coffee</a> meetings are like no other! Many of the best parts of Stride have been born in these sessions, including Toast to Failures, Diversity Committee, The Rabbit Hole podcast, Open Source club, and Stride University.
            </p>
        </span>
    </span>
    <br style="clear:both;">
</div></div>
<div id="hs_cos_wrapper_widget_1493657562819" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_custom_widget" style="" data-hs-cos-general-type="widget" data-hs-cos-type="custom_widget"><div class="benefit--module">
    <span class="image--holder">


            <i class="fa fa-users">&nbsp;</i>

    </span>
    <span class="content--holder">
        <span class="title--holder">
            <h4>
                Monthly Socials
            </h4>
        </span>
        <span class="content--holder">
            <p>
                Striders truly enjoy hanging out with Striders. We gather monthly. Past socials include “Murder at the Met” scavenger hunt, Escape the Room, Oyster shucking, karaoke night, and a night out at a bar.
            </p>
        </span>
    </span>
    <br style="clear:both;">
</div></div></span>
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-40 ">
<div class="row-fluid ">
<div id="job--listing--section" class="span12 widget-span widget-type-cell job--listing--section" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-41 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell page-center" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-42 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-header " style="" data-widget-type="header" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_147438865041914551" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_header" style="" data-hs-cos-general-type="widget" data-hs-cos-type="header"><h2>Open Positions</h2></span></div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-43 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-widget_container " style="" data-widget-type="widget_container" data-x="0" data-w="12">
<span id="hs_cos_wrapper_module_14743824525815433" class="hs_cos_wrapper hs_cos_wrapper_widget_container hs_cos_wrapper_type_widget_container" style="" data-hs-cos-general-type="widget_container" data-hs-cos-type="widget_container"><div id="hs_cos_wrapper_widget_1484939911389" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_custom_widget" style="" data-hs-cos-general-type="widget" data-hs-cos-type="custom_widget"><div class="job--listing">
    <div class="upper--section">
        <div class="left--holder">
            <span class="icon--holder">

                    <img src="//www.stridenyc.com/hubfs/gear--icon.png?t=1507670451932" alt="Stride-NYC-software-development-careers">

            </span>
            <span class="title--holder">
                <h3>
                    Senior Full Stack Agile Developer
                </h3>
                <p>
                    Location: New York, New York
                </p>
            </span>
        </div>
        <div class="right--holder">
            <p>
                <span class="share--title">
                    Share this position
                </span>
                <br>
                <a href="https://twitter.com/intent/tweet?text=https%3A%2F%2Fboards.greenhouse.io%2Fstride%2Fjobs%2F562476&amp;url=https://boards.greenhouse.io/stride/jobs/562476" target="_blank" class="twitter">
                    <i class="fa fa-twitter-square">&nbsp;</i>
                </a>
                <a href="https://www.facebook.com/sharer/sharer.php?u=https://boards.greenhouse.io/stride/jobs/562476" target="_blank" class="facebook">
                    <i class="fa fa-facebook-square">&nbsp;</i>
                </a>
                <a href="https://www.linkedin.com/shareArticle?url=https://boards.greenhouse.io/stride/jobs/562476&amp;title=https%3A%2F%2Fboards.greenhouse.io%2Fstride%2Fjobs%2F562476&amp;summary=https%3A%2F%2Fboards.greenhouse.io%2Fstride%2Fjobs%2F562476" target="_blank" class="linkedin">
                    <i class="fa fa-linkedin-square">&nbsp;</i>
                </a>
                <a href="https://boards.greenhouse.io/stride/jobs/562476" target="_blank" class="envelope">
                    <i class="fa fa-envelope-square">&nbsp;</i>
                </a>
                <br>
            </p>
        </div>
        <br style="clear:both;">
    </div>
    <div class="lower--section">
        <div class="description--holder">
            As a Senior Full Stack Developer, you have a true love for guiding team strategy and seeing projects through from inception to completion.&nbsp;You have experience teaching TDD and other XP practices and enjoy gaining proficiency in unfamiliar languages.
        </div>
        <div class="button--holder">

               <!--HubSpot Call-to-Action Code --> <span class="hs-cta-wrapper" id="hs-cta-wrapper-ce9f7ae2-dd31-4e98-998e-61b8d85e92b2">     <span class="hs-cta-node hs-cta-ce9f7ae2-dd31-4e98-998e-61b8d85e92b2" id="hs-cta-ce9f7ae2-dd31-4e98-998e-61b8d85e92b2">         <!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]-->         <a href="http://cta-redirect.hubspot.com/cta/redirect/2136473/ce9f7ae2-dd31-4e98-998e-61b8d85e92b2"><img class="hs-cta-img" id="hs-cta-img-ce9f7ae2-dd31-4e98-998e-61b8d85e92b2" style="border-width:0px;" src="https://no-cache.hubspot.com/cta/default/2136473/ce9f7ae2-dd31-4e98-998e-61b8d85e92b2.png" alt="VIEW JOB"></a>     </span>     <script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script>     <script type="text/javascript">         hbspt.cta.load(2136473, 'ce9f7ae2-dd31-4e98-998e-61b8d85e92b2', {});     </script> </span> <!-- end HubSpot Call-to-Action Code -->

        </div>
    </div>
</div></div>
<div id="hs_cos_wrapper_widget_1504210605430" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_custom_widget" style="" data-hs-cos-general-type="widget" data-hs-cos-type="custom_widget"><div class="job--listing">
    <div class="upper--section">
        <div class="left--holder">
            <span class="icon--holder">

                    <img src="//www.stridenyc.com/hubfs/gear--icon.png?t=1507670451932" alt="gear--icon.png">

            </span>
            <span class="title--holder">
                <h3>
                    Principal Developer Consultant
                </h3>
                <p>
                    Location: New York, New York
                </p>
            </span>
        </div>
        <div class="right--holder">
            <p>
                <span class="share--title">
                    Share this position
                </span>
                <br>
                <a href="https://twitter.com/intent/tweet?text=https%3A%2F%2Fboards.greenhouse.io%2Fstride%2Fjobs%2F829359%23.Wahu4neGPBI&amp;url=https://boards.greenhouse.io/stride/jobs/829359#.Wahu4neGPBI" target="_blank" class="twitter">
                    <i class="fa fa-twitter-square">&nbsp;</i>
                </a>
                <a href="https://www.facebook.com/sharer/sharer.php?u=https://boards.greenhouse.io/stride/jobs/829359#.Wahu4neGPBI" target="_blank" class="facebook">
                    <i class="fa fa-facebook-square">&nbsp;</i>
                </a>
                <a href="https://www.linkedin.com/shareArticle?url=https://boards.greenhouse.io/stride/jobs/829359#.Wahu4neGPBI&amp;title=https%3A%2F%2Fboards.greenhouse.io%2Fstride%2Fjobs%2F829359%23.Wahu4neGPBI&amp;summary=https%3A%2F%2Fboards.greenhouse.io%2Fstride%2Fjobs%2F829359%23.Wahu4neGPBI" target="_blank" class="linkedin">
                    <i class="fa fa-linkedin-square">&nbsp;</i>
                </a>
                <a href="https://boards.greenhouse.io/stride/jobs/829359#.Wahu4neGPBI" target="_blank" class="envelope">
                    <i class="fa fa-envelope-square">&nbsp;</i>
                </a>
                <br>
            </p>
        </div>
        <br style="clear:both;">
    </div>
    <div class="lower--section">
        <div class="description--holder">
            <span>As a Principal Developer Consultant, you’ll mentor and lead teams (both internally as well as on the client-side) on the value of Test Driven Development (TDD), Pair Programming, Continuous Deployment, and Continuous Improvement.</span>
        </div>
        <div class="button--holder">

                <a href="https://boards.greenhouse.io/stride/jobs/829359#.Wahu4neGPBI">
                    View Job
                </a>

        </div>
    </div>
</div></div></span>
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

    </div><!--end body -->
</div><!--end body wrapper -->

<div class="footer-container-wrapper">
    <div class="footer-container container-fluid">

<div class="row-fluid-wrapper row-depth-1 row-number-1 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-global_group " style="" data-widget-type="global_group" data-x="0" data-w="12">
<!-- start coded_template: id:5362429216 path:generated_global_groups/5362753721.html -->
<div class="" data-global-widget-path="generated_global_groups/5362753721.html"><div class="row-fluid-wrapper row-depth-1 row-number-1 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell custom-footer-v3" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-2 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell page-center" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-3 ">
<div class="row-fluid ">
<div class="span4 widget-span widget-type-cell logo-holder" style="" data-widget-type="cell" data-x="0" data-w="4">

<div class="row-fluid-wrapper row-depth-1 row-number-4 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-logo " style="" data-widget-type="logo" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_1506959330766285" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_logo" style="" data-hs-cos-general-type="widget" data-hs-cos-type="logo"><a href="//www.stridenyc.com" id="hs-link-module_1506959330766285" style="border-width:0px;border:0px;"><img src="https://www.stridenyc.com/hubfs/Images/LogoWhite.svg?t=1507670451932" class="hs-image-widget " style="width:400px;border-width:0px;border:0px;" width="400" alt="LogoWhite.svg" title="LogoWhite.svg"></a></span></div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-5 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-rich_text " style="" data-widget-type="rich_text" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_1506959324613283" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><p>Follow Us: <br> <a href="http://facebook.com/stridenyc"><i class="fa fa-facebook-square"></i></a> <a href="http://twitter.com/StrideDev"><i class="fa fa-twitter-square"></i></a> <a href="http://www.linkedin.com/company/stride-consulting"><i class="fa fa-linkedin-square"></i></a> <a href="http://plus.google.com/+stridenycdev" style="display: none;"><i class="fa fa-google-plus-square"></i></a></p></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
<div class="span8 widget-span widget-type-cell menu-holder" style="" data-widget-type="cell" data-x="4" data-w="8">

<div class="row-fluid-wrapper row-depth-1 row-number-6 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-rich_text " style="" data-widget-type="rich_text" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_1506959491045316" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><table>
<tbody>
<tr>
<td>
<h4>Contact Us</h4>
<ul>
<li>127 West 26th Street<br> Suite 1201<br> New York, NY 10001</li>
<li>Phone: (212) 634­7240</li>
</ul>
</td>
<td>
<h4>Resources</h4>
<ul>
<li><a href="https://www.stridenyc.com/agile-software-development-resources">Resource Center</a></li>
<li><a href="https://www.stridenyc.com/podcasts">Podcast</a></li>
<li><a href="https://www.stridenyc.com/blog">Blog</a></li>
</ul>
</td>
<td>
<h4>About</h4>
<ul>
<li><a href="https://www.stridenyc.com/contact">Contact Us</a></li>
<li><a href="https://www.stridenyc.com/events">Events</a></li>
<li><a href="https://www.stridenyc.com/careers">Careers</a></li>
</ul>
</td>
</tr>
</tbody>
</table></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-7 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell footer-copyright" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-8 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-rich_text " style="" data-widget-type="rich_text" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_1506963045724446" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><p>Copyright © 2017 Stride. All rights reserved.</p></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-9 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-raw_jinja " style="min-height:0px;" data-widget-type="raw_jinja" data-x="0" data-w="12">
<!-- start Main.js DO NOT REMOVE -->
<script src="https://www.stridenyc.com/hs-fs/hub/2136473/hub_generated/template_assets/1507149259008/custom/page/Stride_April_2016-theme/Stride_April_2016-main.min.js"></script>
<!-- end Main.js -->
<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?ver=4.4.2"></script>

<script type="text/javascript">/*  */
var tribeEventsSingleMap = {"addresses":[{"address":"135 W 18th St New York NY 10011 United States ","title":"The Altman Building"}],"zoom":"10"};
/*  */</script>

<script type="text/javascript" src="https://www.stridenyc.com/hubfs/Stride-April-2016-Theme/Js/embedded-map.min.js?t=1507670451932"></script>

</div><!--end widget-span -->

</div><!--end row-->
</div><!--end row-wrapper -->
</div><!-- end coded_template: id:5362429216 path:generated_global_groups/5362753721.html -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

    </div><!--end footer -->
</div><!--end footer wrapper -->


<script type="text/javascript" src="https://static.hsstatic.net/content_shared_assets/static-1.4049/js/public_common.js"></script>


<!-- Start of HubSpot Analytics Code -->
<script type="text/javascript">
var _hsq = _hsq || [];
_hsq.push(["setContentType", "standard-page"]);
_hsq.push(["setCanonicalUrl", "https:\/\/www.stridenyc.com\/careers"]);
_hsq.push(["setPageId", "5081852835"]);
_hsq.push(["setContentMetadata", {
    "contentPageId": 5081852835,
    "legacyPageId": "5081852835",
    "contentGroupId": null,
    "abTestId": null,
    "languageVariantId": 5081852835,
    "languageCode": null
}]);
_hsq.push(["setTargetedContentMetadata", []]);
</script>

<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/2136473.js"></script>
<!-- End of HubSpot Analytics Code -->


<script type="text/javascript">
var hsVars = {
    ticks: 1507739116133,
    page_id: 5081852835,
    content_group_id: 0,
    portal_id: 2136473,
    app_hs_base_url: "https://app.hubspot.com",
    language: "en",
    analytics_page_type: "standard-page"
}
</script>



<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P8ZQ6M5" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- Hotjar Tracking Code for http://www.stridenyc.com -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:208702,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script>

<script type="text/javascript" src="https://snip.ly/site/57a358eb76ae5622c1883f3e.js"></script>





    <!-- Generated by the HubSpot Template Builder - template version 1.03 -->

<!-- end coded_template: id:5082130969 path:generated_layouts/5082130965.html -->
</body></html>