
<!doctype html><!-- start coded_template: id:4647923871 path:generated_layouts/4647923866.html --><!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en" > <![endif]--><!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en" >        <![endif]--><!--[if IE 8]>    <html class="no-js lt-ie9" lang="en" >               <![endif]--><!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]--><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="author" content="Stride">
    <meta name="description" content="Want to Build a Better Software? Let us make your vision a reality. Our Agile Software Developers at Stride are dedicated to delivering real results fast.">
    <meta name="generator" content="HubSpot">
    <title>Stride | Agile Software Development Consultancy | NYC</title>
    <link rel="shortcut icon" href="https://www.stridenyc.com/hubfs/Stride-April-2016-Theme/Images/favicon-32x32.png?t=1507670451932">


    <script src="https://static.hsstatic.net/jquery-libs/static-1.1/jquery/jquery-1.7.1.js"></script>
    <script type="text/javascript">hsjQuery = window['jQuery']</script>

    <meta property="og:description" content="Want to Build a Better Software? Let us make your vision a reality. Our Agile Software Developers at Stride are dedicated to delivering real results fast.">
    <meta property="og:title" content="Stride | Agile Software Development Consultancy | NYC">
    <meta name="twitter:description" content="Want to Build a Better Software? Let us make your vision a reality. Our Agile Software Developers at Stride are dedicated to delivering real results fast.">
    <meta name="twitter:title" content="Stride | Agile Software Development Consultancy | NYC">






<!--  Added by GoogleAnalytics integration -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52681708-1', 'auto');
  ga('send', 'pageview');
</script>

<!-- /Added by GoogleAnalytics integration -->


    <link rel="canonical" href="https://www.stridenyc.com">

<meta name="viewport" content="width=device-width, initial-scale=1">


<!-- Start Alexa Certify Javascript -->
<script type="text/javascript">
_atrk_opts = { atrk_acct:"WtBrp1IW1d106C", domain:"stridenyc.com",dynamic: true};
(function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://d31qbv1cthcecs.cloudfront.net/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
</script>
<noscript>&lt;img  src="https://d5nxst8fruw4z.cloudfront.net/atrk.gif?account=WtBrp1IW1d106C" style="display:none" height="1" width="1" alt=""&gt;</noscript>
<!-- End Alexa Certify Javascript -->

<meta name="google-site-verification" content="Fm4oTrHp4M9dC2EjPntb0EhnXt44RYXLiCgSG0iWJXo">

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-P8ZQ6M5');</script>
<!-- End Google Tag Manager -->

<!-- DO NOT MODIFY -->
<!-- Quora Pixel Code (JS Helper) -->
<script>
!function(q,e,v,n,t,s){if(q.qp) return; n=q.qp=function(){n.qp?n.qp.apply(n,arguments):n.queue.push(arguments);}; n.queue=[];t=document.createElement(e);t.async=!0;t.src=v; s=document.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t,s);}(window, 'script', 'https://a.quora.com/qevents.js');
qp('init', 'b909f807d72e45f78445ad912427e9c4');
qp('track', 'ViewContent');
</script>
<noscript>&lt;img  height="1" width="1" style="display:none" src="https://q.quora.com/_/ad/b909f807d72e45f78445ad912427e9c4/pixel?tag=ViewContent&amp;amp;noscript=1"&gt;</noscript>
<!-- End of Quora Pixel Code -->
<script>qp('track', 'Generic');</script>


<script src="https://use.typekit.net/yov6zgr.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
<meta property="og:url" content="https://www.stridenyc.com">
<link rel="stylesheet" type="text/css" href="{{resolve "/css/style.css"}}">



</head><body class="site-page home-page-layout homepage-revamp   hs-content-id-4727476453 hs-site-page page" style=""><img height="1" width="1" style="display:none" src="https://www.quora.com/_/ad/b909f807d72e45f78445ad912427e9c4/pixel">
{{> header}}

<div class="body-container-wrapper">
    <div class="body-container container-fluid">

<div class="row-fluid-wrapper row-depth-1 row-number-1 ">
<div class="row-fluid ">
<div class="hero--container">


<div class="span12 widget-span widget-type-custom_widget " style="" data-widget-type="custom_widget" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_148528432741454" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_custom_widget" style="" data-hs-cos-general-type="widget" data-hs-cos-type="custom_widget"><div class="cm-section-header-banner" style="background-image:url('//www.stridenyc.com/hubfs/StrideHero-min-2-min.jpg?t=1507670451932'); margin-bottom:30px; background-position:center center;">
<div class="cm-header-wrapper">
    <div class="page-center">
        <div class="row-fluid">
            <h1>Build Better Software</h1>
            <h3>We are non-dogmatic Agilists. We embed with your tech team to help you be your best. The results:  you accelerate growth, level up your tech team and increase efficiency.</h3>
            <div class="cta--holder"><a class="cta_button" href="#">Learn How</a>
            </div>
        </div>
    </div>
</div>
</div></span></div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->


    <div class="cutout grey">
        <img src="//www.stridenyc.com/hubfs/cutout-bg.png?t=1507670451932">
    </div>
</div>
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-2 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell row2 success--logos" style="margin-bottom:0px;" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-3 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell page-center large-page-center" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-4 ">
<div class="row-fluid ">
            <h3>
<div class="span12 widget-span widget-type-text " style="" data-widget-type="text" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_14597627203285332" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="text">Stride helps companies like yours find success.</span></div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
           </h3>
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-5 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-widget_container " style="" data-widget-type="widget_container" data-x="0" data-w="12">
<span id="hs_cos_wrapper_module_1485364692670490" class="hs_cos_wrapper hs_cos_wrapper_widget_container hs_cos_wrapper_type_widget_container" style="" data-hs-cos-general-type="widget_container" data-hs-cos-type="widget_container"><div id="hs_cos_wrapper_widget_1485365021247" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_linked_image" style="" data-hs-cos-general-type="widget" data-hs-cos-type="linked_image"><img src="//www.stridenyc.com/hs-fs/hubfs/Canary-Logo.png?t=1507670451932&amp;width=125&amp;name=Canary-Logo.png" class="hs-image-widget " style="width:125px;border-width:0px;border:0px;" width="125" alt="Canary-agile-software-development-success-stories" title="Canary-agile-software-development-success-stories" srcset="//www.stridenyc.com/hs-fs/hubfs/Canary-Logo.png?t=1507670451932&amp;width=63&amp;name=Canary-Logo.png 63w, //www.stridenyc.com/hs-fs/hubfs/Canary-Logo.png?t=1507670451932&amp;width=125&amp;name=Canary-Logo.png 125w, //www.stridenyc.com/hs-fs/hubfs/Canary-Logo.png?t=1507670451932&amp;width=188&amp;name=Canary-Logo.png 188w, //www.stridenyc.com/hs-fs/hubfs/Canary-Logo.png?t=1507670451932&amp;width=250&amp;name=Canary-Logo.png 250w, //www.stridenyc.com/hs-fs/hubfs/Canary-Logo.png?t=1507670451932&amp;width=313&amp;name=Canary-Logo.png 313w, //www.stridenyc.com/hs-fs/hubfs/Canary-Logo.png?t=1507670451932&amp;width=375&amp;name=Canary-Logo.png 375w" sizes="(max-width: 125px) 100vw, 125px"></div>
<div id="hs_cos_wrapper_widget_1485365011637" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_linked_image" style="" data-hs-cos-general-type="widget" data-hs-cos-type="linked_image"><img src="//www.stridenyc.com/hs-fs/hubfs/Casper_Logo.png?t=1507670451932&amp;width=125&amp;name=Casper_Logo.png" class="hs-image-widget " style="width:125px;border-width:0px;border:0px;" width="125" alt="Casper_Logo.png" title="Casper_Logo.png" srcset="//www.stridenyc.com/hs-fs/hubfs/Casper_Logo.png?t=1507670451932&amp;width=63&amp;name=Casper_Logo.png 63w, //www.stridenyc.com/hs-fs/hubfs/Casper_Logo.png?t=1507670451932&amp;width=125&amp;name=Casper_Logo.png 125w, //www.stridenyc.com/hs-fs/hubfs/Casper_Logo.png?t=1507670451932&amp;width=188&amp;name=Casper_Logo.png 188w, //www.stridenyc.com/hs-fs/hubfs/Casper_Logo.png?t=1507670451932&amp;width=250&amp;name=Casper_Logo.png 250w, //www.stridenyc.com/hs-fs/hubfs/Casper_Logo.png?t=1507670451932&amp;width=313&amp;name=Casper_Logo.png 313w, //www.stridenyc.com/hs-fs/hubfs/Casper_Logo.png?t=1507670451932&amp;width=375&amp;name=Casper_Logo.png 375w" sizes="(max-width: 125px) 100vw, 125px"></div>
<div id="hs_cos_wrapper_widget_1485365005724" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_linked_image" style="" data-hs-cos-general-type="widget" data-hs-cos-type="linked_image"><img src="//www.stridenyc.com/hs-fs/hubfs/Plated-Logo.png?t=1507670451932&amp;width=100&amp;name=Plated-Logo.png" class="hs-image-widget " style="width:100px;border-width:0px;border:0px;" width="100" alt="Plated-agile-software-development-success-stories" title="Plated-agile-software-development-success-stories" srcset="//www.stridenyc.com/hs-fs/hubfs/Plated-Logo.png?t=1507670451932&amp;width=50&amp;name=Plated-Logo.png 50w, //www.stridenyc.com/hs-fs/hubfs/Plated-Logo.png?t=1507670451932&amp;width=100&amp;name=Plated-Logo.png 100w, //www.stridenyc.com/hs-fs/hubfs/Plated-Logo.png?t=1507670451932&amp;width=150&amp;name=Plated-Logo.png 150w, //www.stridenyc.com/hs-fs/hubfs/Plated-Logo.png?t=1507670451932&amp;width=200&amp;name=Plated-Logo.png 200w, //www.stridenyc.com/hs-fs/hubfs/Plated-Logo.png?t=1507670451932&amp;width=250&amp;name=Plated-Logo.png 250w, //www.stridenyc.com/hs-fs/hubfs/Plated-Logo.png?t=1507670451932&amp;width=300&amp;name=Plated-Logo.png 300w" sizes="(max-width: 100px) 100vw, 100px"></div>
<div id="hs_cos_wrapper_widget_1485365025295" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_linked_image" style="" data-hs-cos-general-type="widget" data-hs-cos-type="linked_image"><img src="//www.stridenyc.com/hs-fs/hubfs/color_logos/SaksFifthAve.png?t=1507670451932&amp;width=161&amp;name=SaksFifthAve.png" class="hs-image-widget " style="width:161px;border-width:0px;border:0px;" width="161" alt="Saks-Fifth-Avenue-agile-software-development-success-stories" title="Saks-Fifth-Avenue-agile-software-development-success-stories" srcset="//www.stridenyc.com/hs-fs/hubfs/color_logos/SaksFifthAve.png?t=1507670451932&amp;width=81&amp;name=SaksFifthAve.png 81w, //www.stridenyc.com/hs-fs/hubfs/color_logos/SaksFifthAve.png?t=1507670451932&amp;width=161&amp;name=SaksFifthAve.png 161w, //www.stridenyc.com/hs-fs/hubfs/color_logos/SaksFifthAve.png?t=1507670451932&amp;width=242&amp;name=SaksFifthAve.png 242w, //www.stridenyc.com/hs-fs/hubfs/color_logos/SaksFifthAve.png?t=1507670451932&amp;width=322&amp;name=SaksFifthAve.png 322w, //www.stridenyc.com/hs-fs/hubfs/color_logos/SaksFifthAve.png?t=1507670451932&amp;width=403&amp;name=SaksFifthAve.png 403w, //www.stridenyc.com/hs-fs/hubfs/color_logos/SaksFifthAve.png?t=1507670451932&amp;width=483&amp;name=SaksFifthAve.png 483w" sizes="(max-width: 161px) 100vw, 161px"></div>
<div id="hs_cos_wrapper_widget_1485365028220" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_linked_image" style="" data-hs-cos-general-type="widget" data-hs-cos-type="linked_image"><img src="//www.stridenyc.com/hs-fs/hubfs/color_logos/TheDailyBeast.png?t=1507670451932&amp;width=70&amp;name=TheDailyBeast.png" class="hs-image-widget " style="width:70px;border-width:0px;border:0px;" width="70" alt="The-Daily-Beast-agile-software-development-success-stories" title="The-Daily-Beast-agile-software-development-success-stories" srcset="//www.stridenyc.com/hs-fs/hubfs/color_logos/TheDailyBeast.png?t=1507670451932&amp;width=35&amp;name=TheDailyBeast.png 35w, //www.stridenyc.com/hs-fs/hubfs/color_logos/TheDailyBeast.png?t=1507670451932&amp;width=70&amp;name=TheDailyBeast.png 70w, //www.stridenyc.com/hs-fs/hubfs/color_logos/TheDailyBeast.png?t=1507670451932&amp;width=105&amp;name=TheDailyBeast.png 105w, //www.stridenyc.com/hs-fs/hubfs/color_logos/TheDailyBeast.png?t=1507670451932&amp;width=140&amp;name=TheDailyBeast.png 140w, //www.stridenyc.com/hs-fs/hubfs/color_logos/TheDailyBeast.png?t=1507670451932&amp;width=175&amp;name=TheDailyBeast.png 175w, //www.stridenyc.com/hs-fs/hubfs/color_logos/TheDailyBeast.png?t=1507670451932&amp;width=210&amp;name=TheDailyBeast.png 210w" sizes="(max-width: 70px) 100vw, 70px"></div>
<div id="hs_cos_wrapper_widget_1485365031074" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_linked_image" style="" data-hs-cos-general-type="widget" data-hs-cos-type="linked_image"><img src="//www.stridenyc.com/hs-fs/hubfs/color_logos/Equinox.png?t=1507670451932&amp;width=211&amp;name=Equinox.png" class="hs-image-widget " style="width:211px;border-width:0px;border:0px;" width="211" alt="Equinox-agile-software-development-success-stories" title="Equinox-agile-software-development-success-stories" srcset="//www.stridenyc.com/hs-fs/hubfs/color_logos/Equinox.png?t=1507670451932&amp;width=106&amp;name=Equinox.png 106w, //www.stridenyc.com/hs-fs/hubfs/color_logos/Equinox.png?t=1507670451932&amp;width=211&amp;name=Equinox.png 211w, //www.stridenyc.com/hs-fs/hubfs/color_logos/Equinox.png?t=1507670451932&amp;width=317&amp;name=Equinox.png 317w, //www.stridenyc.com/hs-fs/hubfs/color_logos/Equinox.png?t=1507670451932&amp;width=422&amp;name=Equinox.png 422w, //www.stridenyc.com/hs-fs/hubfs/color_logos/Equinox.png?t=1507670451932&amp;width=528&amp;name=Equinox.png 528w, //www.stridenyc.com/hs-fs/hubfs/color_logos/Equinox.png?t=1507670451932&amp;width=633&amp;name=Equinox.png 633w" sizes="(max-width: 211px) 100vw, 211px"></div></span>
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-6 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell difference--section page-center" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-7 ">
<div class="row-fluid ">
<div class="span5 widget-span widget-type-header header--holder" style="" data-widget-type="header" data-x="0" data-w="5">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_1485365576637615" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_header" style="" data-hs-cos-general-type="widget" data-hs-cos-type="header"><h2>The<br> Stride<br> Difference</h2></span></div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
<div class="span7 widget-span widget-type-rich_text content--holder" style="" data-widget-type="rich_text" data-x="5" data-w="7">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_1485365625148623" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><p><span style="font-weight: 400; font-size: 18px;">Stride consultants are: developers, UX designers, product partners, security experts and Agile coaches.</span></p>
<p><span style="font-size: 18px;"><span style="font-weight: 400;">Did you know?</span> <span style="font-weight: 400;"><strong>95% of Striders have been teachers</strong> at one point in our careers! &nbsp;</span></span></p>
<p><span style="font-weight: 400; font-size: 18px;">We believe in ‘teach a team to fish’ over ‘fish for a team’. We believe that collaborative, colocated teams bread efficiency. We help you build a well oiled, high functioning tech team, one day at a time. We seek first to understand and then, through non-dogmatic consulting, roll up our sleeves, write code alongside your team, and raise the game of your entire team.</span></p>
<a href="http://cta-redirect.hubspot.com/cta/redirect/2136473/515c95e3-e8ea-4dc0-af30-2ee5b7d849ee" target="_blank" class="cta_button">Learn More about the Stride Difference</a>
<script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script>
<script type="text/javascript">// <![CDATA[
hbspt.cta.load(2136473, '515c95e3-e8ea-4dc0-af30-2ee5b7d849ee', {});
// ]]></script>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-8 ">
<div class="row-fluid ">
<div class="pad lead--magnet--wrapper" style="display:block;">

<div class="span12 widget-span widget-type-cell row1 lead--magnet" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-9 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell page-center" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-10 ">
<div class="row-fluid ">
<div class="span7 widget-span widget-type-rich_text " style="" data-widget-type="rich_text" data-x="0" data-w="7">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_1490977550938538" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><h3 style="color: #1686b3;">Improve your team communication with 5 easy steps, all outlined in this 100% free guide.</h3>
<h4>Effective team communication is the root of successful organizations. Start improving yours today.</h4></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
<div class="span5 widget-span widget-type-form " style="" data-widget-type="form" data-x="7" data-w="5">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_1490977608348546" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_form" style="" data-hs-cos-general-type="widget" data-hs-cos-type="form"><h3 id="hs_cos_wrapper_module_1490977608348546_title" class="hs_cos_wrapper form-title" data-hs-cos-general-type="widget_field" data-hs-cos-type="text"></h3>

<div id="hs_form_target_module_1490977608348546"></div>










</span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->

</div>
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-11 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell featured--sections" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-12 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-custom_widget " style="" data-widget-type="custom_widget" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_1485367225021459" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_custom_widget" style="" data-hs-cos-general-type="widget" data-hs-cos-type="custom_widget"><div class="cm-one-column blue" style="padding-top:; padding-bottom:; margin-bottom:">
    <div class="page-center large">
        <div class="row-fluid">
            <div class="content"><h3>Featured In</h3>
<ul>
<li><a href="https://hbr.org/2014/12/your-agile-project-needs-a-budget-not-an-estimate" target="_blank"><img width="136" src="//www.stridenyc.com/hs-fs/hubfs/blue_logos/harvard.png?t=1507670451932&amp;width=136&amp;name=harvard.png" alt="Harvard-Business-Review" title="Harvard-Business-Review" data-constrained="true" style="width: 136px;" caption="false" srcset="//www.stridenyc.com/hs-fs/hubfs/blue_logos/harvard.png?t=1507670451932&amp;width=68&amp;name=harvard.png 68w, //www.stridenyc.com/hs-fs/hubfs/blue_logos/harvard.png?t=1507670451932&amp;width=136&amp;name=harvard.png 136w, //www.stridenyc.com/hs-fs/hubfs/blue_logos/harvard.png?t=1507670451932&amp;width=204&amp;name=harvard.png 204w, //www.stridenyc.com/hs-fs/hubfs/blue_logos/harvard.png?t=1507670451932&amp;width=272&amp;name=harvard.png 272w, //www.stridenyc.com/hs-fs/hubfs/blue_logos/harvard.png?t=1507670451932&amp;width=340&amp;name=harvard.png 340w, //www.stridenyc.com/hs-fs/hubfs/blue_logos/harvard.png?t=1507670451932&amp;width=408&amp;name=harvard.png 408w" sizes="(max-width: 136px) 100vw, 136px"></a></li>
<li><a href="http://www.forbes.com/sites/meghancasserly/2012/11/08/cant-code-what-every-entrepreneur-must-ask-before-hiring-technical-talent/" target="_blank"><img width="192" src="//www.stridenyc.com/hs-fs/hubfs/blue_logos/forbes.png?t=1507670451932&amp;width=192&amp;name=forbes.png" alt="Forbes" title="Forbes" data-constrained="true" style="width: 192px;" caption="false" srcset="//www.stridenyc.com/hs-fs/hubfs/blue_logos/forbes.png?t=1507670451932&amp;width=96&amp;name=forbes.png 96w, //www.stridenyc.com/hs-fs/hubfs/blue_logos/forbes.png?t=1507670451932&amp;width=192&amp;name=forbes.png 192w, //www.stridenyc.com/hs-fs/hubfs/blue_logos/forbes.png?t=1507670451932&amp;width=288&amp;name=forbes.png 288w, //www.stridenyc.com/hs-fs/hubfs/blue_logos/forbes.png?t=1507670451932&amp;width=384&amp;name=forbes.png 384w, //www.stridenyc.com/hs-fs/hubfs/blue_logos/forbes.png?t=1507670451932&amp;width=480&amp;name=forbes.png 480w, //www.stridenyc.com/hs-fs/hubfs/blue_logos/forbes.png?t=1507670451932&amp;width=576&amp;name=forbes.png 576w" sizes="(max-width: 192px) 100vw, 192px"></a></li>
<li><a href="https://www.youtube.com/watch?v=clkV750nFCE" target="_blank"><img width="117" src="//www.stridenyc.com/hs-fs/hubfs/blue_logos/fox-business.png?t=1507670451932&amp;width=117&amp;name=fox-business.png" alt="Fox-Business" title="Fox-Business" data-constrained="true" style="width: 117px;" caption="false" srcset="//www.stridenyc.com/hs-fs/hubfs/blue_logos/fox-business.png?t=1507670451932&amp;width=59&amp;name=fox-business.png 59w, //www.stridenyc.com/hs-fs/hubfs/blue_logos/fox-business.png?t=1507670451932&amp;width=117&amp;name=fox-business.png 117w, //www.stridenyc.com/hs-fs/hubfs/blue_logos/fox-business.png?t=1507670451932&amp;width=176&amp;name=fox-business.png 176w, //www.stridenyc.com/hs-fs/hubfs/blue_logos/fox-business.png?t=1507670451932&amp;width=234&amp;name=fox-business.png 234w, //www.stridenyc.com/hs-fs/hubfs/blue_logos/fox-business.png?t=1507670451932&amp;width=293&amp;name=fox-business.png 293w, //www.stridenyc.com/hs-fs/hubfs/blue_logos/fox-business.png?t=1507670451932&amp;width=351&amp;name=fox-business.png 351w" sizes="(max-width: 117px) 100vw, 117px"></a></li>
<li><a href="http://www.inc.com/magazine201406/jessica-bruder/how-to-balance-company-and-marriage.html" target="_blank"><img width="115" src="//www.stridenyc.com/hs-fs/hubfs/blue_logos/inc.png?t=1507670451932&amp;width=115&amp;name=inc.png" class="attachment-full" alt="Inc" title="Inc" data-constrained="true" style="width: 115px;" caption="false" srcset="//www.stridenyc.com/hs-fs/hubfs/blue_logos/inc.png?t=1507670451932&amp;width=58&amp;name=inc.png 58w, //www.stridenyc.com/hs-fs/hubfs/blue_logos/inc.png?t=1507670451932&amp;width=115&amp;name=inc.png 115w, //www.stridenyc.com/hs-fs/hubfs/blue_logos/inc.png?t=1507670451932&amp;width=173&amp;name=inc.png 173w, //www.stridenyc.com/hs-fs/hubfs/blue_logos/inc.png?t=1507670451932&amp;width=230&amp;name=inc.png 230w, //www.stridenyc.com/hs-fs/hubfs/blue_logos/inc.png?t=1507670451932&amp;width=288&amp;name=inc.png 288w, //www.stridenyc.com/hs-fs/hubfs/blue_logos/inc.png?t=1507670451932&amp;width=345&amp;name=inc.png 345w" sizes="(max-width: 115px) 100vw, 115px"></a></li>
<li><a href="http://www.huffingtonpost.com/debbie-madden/how-to-ace-a-developer-ph_b_7012012.html" target="_blank"><img width="144" src="//www.stridenyc.com/hs-fs/hubfs/blue_logos/huffpo.png?t=1507670451932&amp;width=144&amp;name=huffpo.png" alt="The-Huffington-Post" title="The-Huffington-Post" data-constrained="true" style="width: 144px;" caption="false" srcset="//www.stridenyc.com/hs-fs/hubfs/blue_logos/huffpo.png?t=1507670451932&amp;width=72&amp;name=huffpo.png 72w, //www.stridenyc.com/hs-fs/hubfs/blue_logos/huffpo.png?t=1507670451932&amp;width=144&amp;name=huffpo.png 144w, //www.stridenyc.com/hs-fs/hubfs/blue_logos/huffpo.png?t=1507670451932&amp;width=216&amp;name=huffpo.png 216w, //www.stridenyc.com/hs-fs/hubfs/blue_logos/huffpo.png?t=1507670451932&amp;width=288&amp;name=huffpo.png 288w, //www.stridenyc.com/hs-fs/hubfs/blue_logos/huffpo.png?t=1507670451932&amp;width=360&amp;name=huffpo.png 360w, //www.stridenyc.com/hs-fs/hubfs/blue_logos/huffpo.png?t=1507670451932&amp;width=432&amp;name=huffpo.png 432w" sizes="(max-width: 144px) 100vw, 144px"></a></li>
<li><a href="http://www.infoq.com/articles/benefit-agile-engineering?utm_campaign=infoq_content&amp;utm_source=infoq&amp;utm_medium=feed&amp;utm_term=global" target="_blank"><img width="152" src="//www.stridenyc.com/hs-fs/hubfs/blue_logos/infoq.png?t=1507670451932&amp;width=152&amp;name=infoq.png" alt="InfoQ" title="InfoQ" data-constrained="true" style="width: 152px;" srcset="//www.stridenyc.com/hs-fs/hubfs/blue_logos/infoq.png?t=1507670451932&amp;width=76&amp;name=infoq.png 76w, //www.stridenyc.com/hs-fs/hubfs/blue_logos/infoq.png?t=1507670451932&amp;width=152&amp;name=infoq.png 152w, //www.stridenyc.com/hs-fs/hubfs/blue_logos/infoq.png?t=1507670451932&amp;width=228&amp;name=infoq.png 228w, //www.stridenyc.com/hs-fs/hubfs/blue_logos/infoq.png?t=1507670451932&amp;width=304&amp;name=infoq.png 304w, //www.stridenyc.com/hs-fs/hubfs/blue_logos/infoq.png?t=1507670451932&amp;width=380&amp;name=infoq.png 380w, //www.stridenyc.com/hs-fs/hubfs/blue_logos/infoq.png?t=1507670451932&amp;width=456&amp;name=infoq.png 456w" sizes="(max-width: 152px) 100vw, 152px"></a></li>
</ul></div>
        </div>
    </div>
</div></span></div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-13 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell row3 white-bg" style="display:none;" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-14 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell " style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-15 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-widget_container " style="" data-widget-type="widget_container" data-x="0" data-w="12">
<span id="hs_cos_wrapper_module_145976282653311100" class="hs_cos_wrapper hs_cos_wrapper_widget_container hs_cos_wrapper_type_widget_container" style="" data-hs-cos-general-type="widget_container" data-hs-cos-type="widget_container"><div id="hs_cos_wrapper_widget_3987781629" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><h2 style="text-align: center;">Up Your Game</h2>
<h4 style="text-align: center;">We are an Agile software development company. We colocate with engineering teams in NYC. We help you up your game and get stuff done.</h4>
<p style="text-align: center;"><a class="btn red" href="/services" title=""><span>Learn More</span></a></p></div>
<div id="hs_cos_wrapper_widget_1459764761154" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_custom_widget" style="" data-hs-cos-general-type="widget" data-hs-cos-type="custom_widget"><div class="cm-three-column-equal-module white">
    <div class="page-center large">
        <div class="row-fluid">

        </div>
        <div class="row-fluid">
            <div class="span4 column left"><img width="58" src="https://www.stridenyc.com/hs-fs/hubfs/Stride-April-2016-Theme/Images/ship-stride-blue.png?t=1507670451932&amp;width=58&amp;name=ship-stride-blue.png" alt="Ramp up Fast" data-constrained="true" style="width: 58px;" srcset="https://www.stridenyc.com/hs-fs/hubfs/Stride-April-2016-Theme/Images/ship-stride-blue.png?t=1507670451932&amp;width=29&amp;name=ship-stride-blue.png 29w, https://www.stridenyc.com/hs-fs/hubfs/Stride-April-2016-Theme/Images/ship-stride-blue.png?t=1507670451932&amp;width=58&amp;name=ship-stride-blue.png 58w, https://www.stridenyc.com/hs-fs/hubfs/Stride-April-2016-Theme/Images/ship-stride-blue.png?t=1507670451932&amp;width=87&amp;name=ship-stride-blue.png 87w, https://www.stridenyc.com/hs-fs/hubfs/Stride-April-2016-Theme/Images/ship-stride-blue.png?t=1507670451932&amp;width=116&amp;name=ship-stride-blue.png 116w, https://www.stridenyc.com/hs-fs/hubfs/Stride-April-2016-Theme/Images/ship-stride-blue.png?t=1507670451932&amp;width=145&amp;name=ship-stride-blue.png 145w, https://www.stridenyc.com/hs-fs/hubfs/Stride-April-2016-Theme/Images/ship-stride-blue.png?t=1507670451932&amp;width=174&amp;name=ship-stride-blue.png 174w" sizes="(max-width: 58px) 100vw, 58px">
<h4>Ramp up Fast</h4>
<p>We focus on creating&nbsp;an immediate impact, delivering real business results fast.</p></div>
            <div class="span4 column center"><img width="153" src="https://www.stridenyc.com/hs-fs/hubfs/Stride-April-2016-Theme/Images/adapt-stride-blue.png?t=1507670451932&amp;width=153&amp;name=adapt-stride-blue.png" alt="Adapt and Embed to Your Culture" title="Adapt and Embed to Your Culture" data-constrained="true" style="width: 153px;" srcset="https://www.stridenyc.com/hs-fs/hubfs/Stride-April-2016-Theme/Images/adapt-stride-blue.png?t=1507670451932&amp;width=77&amp;name=adapt-stride-blue.png 77w, https://www.stridenyc.com/hs-fs/hubfs/Stride-April-2016-Theme/Images/adapt-stride-blue.png?t=1507670451932&amp;width=153&amp;name=adapt-stride-blue.png 153w, https://www.stridenyc.com/hs-fs/hubfs/Stride-April-2016-Theme/Images/adapt-stride-blue.png?t=1507670451932&amp;width=230&amp;name=adapt-stride-blue.png 230w, https://www.stridenyc.com/hs-fs/hubfs/Stride-April-2016-Theme/Images/adapt-stride-blue.png?t=1507670451932&amp;width=306&amp;name=adapt-stride-blue.png 306w, https://www.stridenyc.com/hs-fs/hubfs/Stride-April-2016-Theme/Images/adapt-stride-blue.png?t=1507670451932&amp;width=383&amp;name=adapt-stride-blue.png 383w, https://www.stridenyc.com/hs-fs/hubfs/Stride-April-2016-Theme/Images/adapt-stride-blue.png?t=1507670451932&amp;width=459&amp;name=adapt-stride-blue.png 459w" sizes="(max-width: 153px) 100vw, 153px">
<h4>Adapt and Embed to Your Culture</h4>
<p>Our experienced full stack developers understand your vision and help you execute it.</p></div>
            <div class="span4 column right"><img src="https://www.stridenyc.com/hs-fs/hubfs/Stride-April-2016-Theme/Images/long-term-stride-blue.png?t=1507670451932&amp;width=73&amp;name=long-term-stride-blue.png" alt="Implement Long-Term Solutions" title="Implement Long-Term Solutions" width="73" data-constrained="true" style="width: 73px;" srcset="https://www.stridenyc.com/hs-fs/hubfs/Stride-April-2016-Theme/Images/long-term-stride-blue.png?t=1507670451932&amp;width=37&amp;name=long-term-stride-blue.png 37w, https://www.stridenyc.com/hs-fs/hubfs/Stride-April-2016-Theme/Images/long-term-stride-blue.png?t=1507670451932&amp;width=73&amp;name=long-term-stride-blue.png 73w, https://www.stridenyc.com/hs-fs/hubfs/Stride-April-2016-Theme/Images/long-term-stride-blue.png?t=1507670451932&amp;width=110&amp;name=long-term-stride-blue.png 110w, https://www.stridenyc.com/hs-fs/hubfs/Stride-April-2016-Theme/Images/long-term-stride-blue.png?t=1507670451932&amp;width=146&amp;name=long-term-stride-blue.png 146w, https://www.stridenyc.com/hs-fs/hubfs/Stride-April-2016-Theme/Images/long-term-stride-blue.png?t=1507670451932&amp;width=183&amp;name=long-term-stride-blue.png 183w, https://www.stridenyc.com/hs-fs/hubfs/Stride-April-2016-Theme/Images/long-term-stride-blue.png?t=1507670451932&amp;width=219&amp;name=long-term-stride-blue.png 219w" sizes="(max-width: 73px) 100vw, 73px">
<h4>Implement Long-Term Solutions</h4>
<p>We focus on producing results that will benefit your team for the long haul.</p></div>
        </div>
    </div>
</div></div>
<div id="hs_cos_wrapper_widget_1502809879972" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_raw_html" style="" data-hs-cos-general-type="widget" data-hs-cos-type="raw_html"></div></span>
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-16 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell row4 why--section" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-17 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell page-center" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-18 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-widget_container " style="" data-widget-type="widget_container" data-x="0" data-w="12">
<span id="hs_cos_wrapper_module_145976339802817822" class="hs_cos_wrapper hs_cos_wrapper_widget_container hs_cos_wrapper_type_widget_container" style="" data-hs-cos-general-type="widget_container" data-hs-cos-type="widget_container"><div id="hs_cos_wrapper_widget_4037771647" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><h2 style="text-align: center;">Why Do Great Companies Choose Stride?</h2>
<h4 style="text-align: center;">At Stride, we don’t believe in a one size fits all solution. The “Stride Way” is a mindset of focused on learning and continuous improvement, not a prescribed set of processes. If there’s a better path to success for your team, we’ll find it. <a href="//www.stridenyc.com/agile-development-services">Learn More »</a></h4></div>
<div id="hs_cos_wrapper_widget_1459830492610" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_custom_widget" style="" data-hs-cos-general-type="widget" data-hs-cos-type="custom_widget"><div class="cm-spacer">
    <div class="row-fluid">
        <div style="margin-bottom:60px;"></div>
    </div>
</div></div>
<div id="hs_cos_wrapper_widget_1459765344449" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_custom_widget" style="" data-hs-cos-general-type="widget" data-hs-cos-type="custom_widget"><div class="cm-two-column-left-image">
    <div class="page-center large">
        <div class="row-fluid">
            <div class="span6">
                <div class="row-fluid">
                    <div class="column left">

                            <img src="https://www.stridenyc.com/hs-fs/hubfs/Stride-April-2016-Theme/Images/locate-stride-orange.png?t=1507670451932&amp;width=54&amp;height=37&amp;name=locate-stride-orange.png" width="54" height="37" alt="agile-software-development-solutions" srcset="https://www.stridenyc.com/hs-fs/hubfs/Stride-April-2016-Theme/Images/locate-stride-orange.png?t=1507670451932&amp;width=27&amp;height=19&amp;name=locate-stride-orange.png 27w, https://www.stridenyc.com/hs-fs/hubfs/Stride-April-2016-Theme/Images/locate-stride-orange.png?t=1507670451932&amp;width=54&amp;height=37&amp;name=locate-stride-orange.png 54w, https://www.stridenyc.com/hs-fs/hubfs/Stride-April-2016-Theme/Images/locate-stride-orange.png?t=1507670451932&amp;width=81&amp;height=56&amp;name=locate-stride-orange.png 81w, https://www.stridenyc.com/hs-fs/hubfs/Stride-April-2016-Theme/Images/locate-stride-orange.png?t=1507670451932&amp;width=108&amp;height=74&amp;name=locate-stride-orange.png 108w, https://www.stridenyc.com/hs-fs/hubfs/Stride-April-2016-Theme/Images/locate-stride-orange.png?t=1507670451932&amp;width=135&amp;height=93&amp;name=locate-stride-orange.png 135w, https://www.stridenyc.com/hs-fs/hubfs/Stride-April-2016-Theme/Images/locate-stride-orange.png?t=1507670451932&amp;width=162&amp;height=111&amp;name=locate-stride-orange.png 162w" sizes="(max-width: 54px) 100vw, 54px">


                            <div class="fa-holder"><p style="text-align: center;"><span class="fa-stack fa-lg"> <i class="fa fa-map fa-stack-2x">&nbsp;</i> <i class="fa fa-map-marker fa-inverse fa-stack-1x">&nbsp;</i> </span></p></div>

                    </div>
                    <div class="column right">
                        <p>We co-locate full time with your team, 5 days a week. Stride is in the building.</p>
                    </div>
                </div>
            </div>
            <div class="span6">
                <div class="row-fluid">
                    <div class="column left">

                            <img src="https://www.stridenyc.com/hs-fs/hubfs/Stride-April-2016-Theme/Images/vision-stride-orange.png?t=1507670451932&amp;width=54&amp;height=54&amp;name=vision-stride-orange.png" width="54" height="54" alt="agile-software-development-solutions" srcset="https://www.stridenyc.com/hs-fs/hubfs/Stride-April-2016-Theme/Images/vision-stride-orange.png?t=1507670451932&amp;width=27&amp;height=27&amp;name=vision-stride-orange.png 27w, https://www.stridenyc.com/hs-fs/hubfs/Stride-April-2016-Theme/Images/vision-stride-orange.png?t=1507670451932&amp;width=54&amp;height=54&amp;name=vision-stride-orange.png 54w, https://www.stridenyc.com/hs-fs/hubfs/Stride-April-2016-Theme/Images/vision-stride-orange.png?t=1507670451932&amp;width=81&amp;height=81&amp;name=vision-stride-orange.png 81w, https://www.stridenyc.com/hs-fs/hubfs/Stride-April-2016-Theme/Images/vision-stride-orange.png?t=1507670451932&amp;width=108&amp;height=108&amp;name=vision-stride-orange.png 108w, https://www.stridenyc.com/hs-fs/hubfs/Stride-April-2016-Theme/Images/vision-stride-orange.png?t=1507670451932&amp;width=135&amp;height=135&amp;name=vision-stride-orange.png 135w, https://www.stridenyc.com/hs-fs/hubfs/Stride-April-2016-Theme/Images/vision-stride-orange.png?t=1507670451932&amp;width=162&amp;height=162&amp;name=vision-stride-orange.png 162w" sizes="(max-width: 54px) 100vw, 54px">


                            <div class="fa-holder"><p style="text-align: center;"><span class="fa fa-ban fa-3x">&nbsp;</span></p></div>

                    </div>
                    <div class="column right">
                        <p>We believe in non-dogmatic Agile.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div></div>
<div id="hs_cos_wrapper_widget_1459765348176" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_custom_widget" style="" data-hs-cos-general-type="widget" data-hs-cos-type="custom_widget"><div class="cm-two-column-left-image">
    <div class="page-center large">
        <div class="row-fluid">
            <div class="span6">
                <div class="row-fluid">
                    <div class="column left">

                            <img src="https://www.stridenyc.com/hs-fs/hubfs/Stride-April-2016-Theme/Images/tailor-stride-orange.png?t=1507670451932&amp;width=30&amp;height=55&amp;name=tailor-stride-orange.png" width="30" height="55" alt="agile-software-development-solutions" srcset="https://www.stridenyc.com/hs-fs/hubfs/Stride-April-2016-Theme/Images/tailor-stride-orange.png?t=1507670451932&amp;width=15&amp;height=28&amp;name=tailor-stride-orange.png 15w, https://www.stridenyc.com/hs-fs/hubfs/Stride-April-2016-Theme/Images/tailor-stride-orange.png?t=1507670451932&amp;width=30&amp;height=55&amp;name=tailor-stride-orange.png 30w, https://www.stridenyc.com/hs-fs/hubfs/Stride-April-2016-Theme/Images/tailor-stride-orange.png?t=1507670451932&amp;width=45&amp;height=83&amp;name=tailor-stride-orange.png 45w, https://www.stridenyc.com/hs-fs/hubfs/Stride-April-2016-Theme/Images/tailor-stride-orange.png?t=1507670451932&amp;width=60&amp;height=110&amp;name=tailor-stride-orange.png 60w, https://www.stridenyc.com/hs-fs/hubfs/Stride-April-2016-Theme/Images/tailor-stride-orange.png?t=1507670451932&amp;width=75&amp;height=138&amp;name=tailor-stride-orange.png 75w, https://www.stridenyc.com/hs-fs/hubfs/Stride-April-2016-Theme/Images/tailor-stride-orange.png?t=1507670451932&amp;width=90&amp;height=165&amp;name=tailor-stride-orange.png 90w" sizes="(max-width: 30px) 100vw, 30px">


                            <div class="fa-holder"><p style="text-align: center;"><span class="fa fa-wrench fa-3x">&nbsp;</span></p></div>

                    </div>
                    <div class="column right">
                        <p>We develop a tailored solution with you.</p>
                    </div>
                </div>
            </div>
            <div class="span6">
                <div class="row-fluid">
                    <div class="column left">

                            <img src="https://www.stridenyc.com/hs-fs/hubfs/Stride-April-2016-Theme/Images/fast-stride-orange.png?t=1507670451932&amp;width=44&amp;height=50&amp;name=fast-stride-orange.png" width="44" height="50" alt="agile-software-development-solutions" srcset="https://www.stridenyc.com/hs-fs/hubfs/Stride-April-2016-Theme/Images/fast-stride-orange.png?t=1507670451932&amp;width=22&amp;height=25&amp;name=fast-stride-orange.png 22w, https://www.stridenyc.com/hs-fs/hubfs/Stride-April-2016-Theme/Images/fast-stride-orange.png?t=1507670451932&amp;width=44&amp;height=50&amp;name=fast-stride-orange.png 44w, https://www.stridenyc.com/hs-fs/hubfs/Stride-April-2016-Theme/Images/fast-stride-orange.png?t=1507670451932&amp;width=66&amp;height=75&amp;name=fast-stride-orange.png 66w, https://www.stridenyc.com/hs-fs/hubfs/Stride-April-2016-Theme/Images/fast-stride-orange.png?t=1507670451932&amp;width=88&amp;height=100&amp;name=fast-stride-orange.png 88w, https://www.stridenyc.com/hs-fs/hubfs/Stride-April-2016-Theme/Images/fast-stride-orange.png?t=1507670451932&amp;width=110&amp;height=125&amp;name=fast-stride-orange.png 110w, https://www.stridenyc.com/hs-fs/hubfs/Stride-April-2016-Theme/Images/fast-stride-orange.png?t=1507670451932&amp;width=132&amp;height=150&amp;name=fast-stride-orange.png 132w" sizes="(max-width: 44px) 100vw, 44px">


                            <div class="fa-holder"><p style="text-align: center;"><span class="fa fa-code fa-3x">&nbsp;</span></p></div>

                    </div>
                    <div class="column right">
                        <p>Technical excellence and well-documented code are baked into our DNA.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div></div></span>
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-19 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell testimonials--panel--section" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-20 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-widget_container " style="" data-widget-type="widget_container" data-x="0" data-w="12">
<span id="hs_cos_wrapper_module_1485371035127466" class="hs_cos_wrapper hs_cos_wrapper_widget_container hs_cos_wrapper_type_widget_container" style="" data-hs-cos-general-type="widget_container" data-hs-cos-type="widget_container"><div id="hs_cos_wrapper_widget_1485371711816" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_custom_widget" style="" data-hs-cos-general-type="widget" data-hs-cos-type="custom_widget"><div class="testimonial--panel left" style="background-image:url(//www.stridenyc.com/hubfs/stride_panel_1.jpg?t=1507670451932); background-position:center center; background-repeat:no-repeat; ">
    <div class="panel-overlay" style="position:absolute; top:0px; bottom:0px;
    left:0px; right:0px; background-color:rgba(0,0,0,0.25);"></div>
    <div class="page-center">
        <div class="content-holder">
            <p><img src="//www.stridenyc.com/hs-fs/hubfs/Plated-Logo--white.png?t=1507670451932&amp;width=123&amp;name=Plated-Logo--white.png" width="123" caption="false" data-constrained="true" style="width: 123px;" srcset="//www.stridenyc.com/hs-fs/hubfs/Plated-Logo--white.png?t=1507670451932&amp;width=62&amp;name=Plated-Logo--white.png 62w, //www.stridenyc.com/hs-fs/hubfs/Plated-Logo--white.png?t=1507670451932&amp;width=123&amp;name=Plated-Logo--white.png 123w, //www.stridenyc.com/hs-fs/hubfs/Plated-Logo--white.png?t=1507670451932&amp;width=185&amp;name=Plated-Logo--white.png 185w, //www.stridenyc.com/hs-fs/hubfs/Plated-Logo--white.png?t=1507670451932&amp;width=246&amp;name=Plated-Logo--white.png 246w, //www.stridenyc.com/hs-fs/hubfs/Plated-Logo--white.png?t=1507670451932&amp;width=308&amp;name=Plated-Logo--white.png 308w, //www.stridenyc.com/hs-fs/hubfs/Plated-Logo--white.png?t=1507670451932&amp;width=369&amp;name=Plated-Logo--white.png 369w" sizes="(max-width: 123px) 100vw, 123px"></p>
<p>As Plated continues to grow, it’s important that they implement processes around code, deploy continuously, communicate priorities and increase visibility of work. Now that they have a bigger team they can no longer rely on verbal communication. Their team is motivated and intelligent, but Plated needed some technical mentorship to help them gain clarity on their priorities and become successful both inside the code and out.&nbsp;<a href="//www.stridenyc.com/plated-case-study">Read the Full Success Story »</a></p>

            <div class="author-holder">
                <div class="inner">
                    <div class="avatar">

                            <img src="//www.stridenyc.com/hs-fs/hubfs/Stride-April-2016-Theme/Images/headshot-josh-hix-plated-stride-1.jpg?width=100&amp;name=headshot-josh-hix-plated-stride-1.jpg&amp;t=1507670451932" alt="agile-software-development-success-stories">

                    </div>
                    <div class="content">
                        <p><em>“We were seeking a technology partner who’s truly in this with us for the long haul, someone who can fully integrate and have skin in the game, and we found that in Stride.”</em></p>
<p>- Josh Hix, CEO, Plated</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div></div>
<div id="hs_cos_wrapper_widget_1485371725957" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_custom_widget" style="" data-hs-cos-general-type="widget" data-hs-cos-type="custom_widget"><div class="testimonial--panel right" style="background-image:url(//www.stridenyc.com/hubfs/panel--background--content--right.jpg?t=1507670451932); background-position:center center; background-repeat:no-repeat; ">
    <div class="panel-overlay" style="position:absolute; top:0px; bottom:0px;
    left:0px; right:0px; background-color:rgba(0,0,0,0.05);"></div>
    <div class="page-center">
        <div class="content-holder">
            <p><img src="//www.stridenyc.com/hs-fs/hubfs/Stride-April-2016-Theme/Images/thoughtlywhite-stride.png?t=1507670451932&amp;width=123&amp;name=thoughtlywhite-stride.png" width="123" caption="false" data-constrained="true" style="width: 123px;" srcset="//www.stridenyc.com/hs-fs/hubfs/Stride-April-2016-Theme/Images/thoughtlywhite-stride.png?t=1507670451932&amp;width=62&amp;name=thoughtlywhite-stride.png 62w, //www.stridenyc.com/hs-fs/hubfs/Stride-April-2016-Theme/Images/thoughtlywhite-stride.png?t=1507670451932&amp;width=123&amp;name=thoughtlywhite-stride.png 123w, //www.stridenyc.com/hs-fs/hubfs/Stride-April-2016-Theme/Images/thoughtlywhite-stride.png?t=1507670451932&amp;width=185&amp;name=thoughtlywhite-stride.png 185w, //www.stridenyc.com/hs-fs/hubfs/Stride-April-2016-Theme/Images/thoughtlywhite-stride.png?t=1507670451932&amp;width=246&amp;name=thoughtlywhite-stride.png 246w, //www.stridenyc.com/hs-fs/hubfs/Stride-April-2016-Theme/Images/thoughtlywhite-stride.png?t=1507670451932&amp;width=308&amp;name=thoughtlywhite-stride.png 308w, //www.stridenyc.com/hs-fs/hubfs/Stride-April-2016-Theme/Images/thoughtlywhite-stride.png?t=1507670451932&amp;width=369&amp;name=thoughtlywhite-stride.png 369w" sizes="(max-width: 123px) 100vw, 123px"></p>
<p>Thoughtly came to Stride with a singular goal: they needed to launch their MVP (Minimum Viable Product) in time for TechCrunch Disrupt. Thoughtly had been developing their core technology for almost two years and decided to demonstrate its capability by building a proof of concept application – IntelliButler, a content recommendation and scheduling platform – on their machine learning technology. Thoughtly partnered with Stride to ensure this would become a reality.&nbsp;<a href="//www.stridenyc.com/thoughtly-case-study">Read the Full Success Story »</a></p>

            <div class="author-holder">
                <div class="inner">
                    <div class="avatar">

                            <img src="//www.stridenyc.com/hs-fs/hubfs/Stride-April-2016-Theme/Images/headshot-chase-perkins-thoughtly2-stride-1.jpg?width=100&amp;name=headshot-chase-perkins-thoughtly2-stride-1.jpg&amp;t=1507670451932" alt="agile-software-development-success-stories-thoughtly">

                    </div>
                    <div class="content">
                        <p><em>“Stride was able to assimilate into our rapidly evolving company under absurd time parameters. They have project management and technical skills that are of the highest order. If you have the opportunity to work with them, especially when it matters, you are extraordinarily lucky.”</em></p>
<p>- Chase Perkins, CEO, Thoughtly.co</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div></div>
<div id="hs_cos_wrapper_widget_1485371730763" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_custom_widget" style="" data-hs-cos-general-type="widget" data-hs-cos-type="custom_widget"><div class="testimonial--panel left" style="background-image:url(//www.stridenyc.com/hubfs/panel--background--content--left.jpg?t=1507670451932); background-position:center right; background-repeat:no-repeat; ">
    <div class="panel-overlay" style="position:absolute; top:0px; bottom:0px;
    left:0px; right:0px; background-color:rgba(0,0,0,0.25);"></div>
    <div class="page-center">
        <div class="content-holder">
            <p><img src="//www.stridenyc.com/hs-fs/hubfs/elevate--logo.png?t=1507670451932&amp;width=165&amp;height=72&amp;name=elevate--logo.png" alt="" title="elevate--logo.png" width="165" height="72" srcset="//www.stridenyc.com/hs-fs/hubfs/elevate--logo.png?t=1507670451932&amp;width=83&amp;height=36&amp;name=elevate--logo.png 83w, //www.stridenyc.com/hs-fs/hubfs/elevate--logo.png?t=1507670451932&amp;width=165&amp;height=72&amp;name=elevate--logo.png 165w, //www.stridenyc.com/hs-fs/hubfs/elevate--logo.png?t=1507670451932&amp;width=248&amp;height=108&amp;name=elevate--logo.png 248w, //www.stridenyc.com/hs-fs/hubfs/elevate--logo.png?t=1507670451932&amp;width=330&amp;height=144&amp;name=elevate--logo.png 330w, //www.stridenyc.com/hs-fs/hubfs/elevate--logo.png?t=1507670451932&amp;width=413&amp;height=180&amp;name=elevate--logo.png 413w, //www.stridenyc.com/hs-fs/hubfs/elevate--logo.png?t=1507670451932&amp;width=495&amp;height=216&amp;name=elevate--logo.png 495w" sizes="(max-width: 165px) 100vw, 165px"></p>
<p>Stride quickly adapted the entire legacy code base and went into code rescue mode. We prioritized the immediate fires with the Ellevate executive team and created a backlog of features. The Stride developers ramped up within days and first fixed the most impactful fires which stabilized the platform within one week.&nbsp;<a href="//www.stridenyc.com/ellevate-case-study">Read the Full Success Story »</a></p>

            <div class="author-holder">
                <div class="inner">
                    <div class="avatar">

                            <img src="//www.stridenyc.com/hubfs/panel-testimonial-author-thumbnail.png?t=1507670451932" alt="agile-software-development-success-stories-ellevate">

                    </div>
                    <div class="content">
                        <p><em>“Stride has been a fantastic partner for Ellevate Network. We initially hired Stride to help with website maintenance and trouble shooting, but the relationship evolved into a true partnership where Stride offered great service, creative solutions and top-notch service.”</em></p>
<p>- Kristy Wallace, Ellevate</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div></div></span>
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-21 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-custom_widget " style="" data-widget-type="custom_widget" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_1485374896089463" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_custom_widget" style="" data-hs-cos-general-type="widget" data-hs-cos-type="custom_widget"><div id="slant--bofu" class="wrap" style="background-image:url('//www.stridenyc.com/hubfs/homepage--hero--angle--bottom--stride.jpg?t=1507670451932')!important;background-position:center center!important;">
    <div class="page-center">
        <div class="pad">
            <div class="page-center">
                <div class="header-holder">
                    <h2 style="text-align: center;">Let's work together!</h2>
<div style="text-align: center;">We will respond within one business day.</div>
                </div>
                <div class="form-holder">
                    <div id="slantForm"></div>
                    <!--[if lte IE 8]>
                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
                    <![endif]-->
                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                    <script>
                      hbspt.forms.create({
                        portalId: '2136473',
                        target: "#slantForm",
                        formId: '31f9b2e1-b4bb-40fc-96c8-0030193244f8',
                        css: ''
                      });
                    </script>

                </div>
                <br style="clear:both;">
            </div>
        </div>

    </div>

</div></span></div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-22 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-custom_widget " style="position: fixed; top: 0px; left:0px; right:0px; z-index:99;" data-widget-type="custom_widget" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_14720677593641709" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_custom_widget" style="" data-hs-cos-general-type="widget" data-hs-cos-type="custom_widget">



</span></div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

    </div><!--end body -->
</div><!--end body wrapper -->

<div class="footer-container-wrapper">
    <div class="footer-container container-fluid">

<div class="row-fluid-wrapper row-depth-1 row-number-1 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-global_group " style="" data-widget-type="global_group" data-x="0" data-w="12">
<!-- start coded_template: id:5362429216 path:generated_global_groups/5362753721.html -->
<div class="" data-global-widget-path="generated_global_groups/5362753721.html"><div class="row-fluid-wrapper row-depth-1 row-number-1 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell custom-footer-v3" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-2 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell page-center" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-3 ">
<div class="row-fluid ">
<div class="span4 widget-span widget-type-cell logo-holder" style="" data-widget-type="cell" data-x="0" data-w="4">

<div class="row-fluid-wrapper row-depth-1 row-number-4 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-logo " style="" data-widget-type="logo" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_1506959330766285" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_logo" style="" data-hs-cos-general-type="widget" data-hs-cos-type="logo"><a href="//www.stridenyc.com" id="hs-link-module_1506959330766285" style="border-width:0px;border:0px;"><img src="https://www.stridenyc.com/hubfs/Images/LogoWhite.svg?t=1507670451932" class="hs-image-widget " style="width:400px;border-width:0px;border:0px;" width="400" alt="LogoWhite.svg" title="LogoWhite.svg"></a></span></div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-5 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-rich_text " style="" data-widget-type="rich_text" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_1506959324613283" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><p>Follow Us: <br> <a href="http://facebook.com/stridenyc"><i class="fa fa-facebook-square"></i></a> <a href="http://twitter.com/StrideDev"><i class="fa fa-twitter-square"></i></a> <a href="http://www.linkedin.com/company/stride-consulting"><i class="fa fa-linkedin-square"></i></a> <a href="http://plus.google.com/+stridenycdev" style="display: none;"><i class="fa fa-google-plus-square"></i></a></p></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
<div class="span8 widget-span widget-type-cell menu-holder" style="" data-widget-type="cell" data-x="4" data-w="8">

<div class="row-fluid-wrapper row-depth-1 row-number-6 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-rich_text " style="" data-widget-type="rich_text" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_1506959491045316" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><table>
<tbody>
<tr>
<td>
<h4>Contact Us</h4>
<ul>
<li>127 West 26th Street<br> Suite 1201<br> New York, NY 10001</li>
<li>Phone: (212) 634­7240</li>
</ul>
</td>
<td>
<h4>Resources</h4>
<ul>
<li><a href="https://www.stridenyc.com/agile-software-development-resources">Resource Center</a></li>
<li><a href="https://www.stridenyc.com/podcasts">Podcast</a></li>
<li><a href="https://www.stridenyc.com/blog">Blog</a></li>
</ul>
</td>
<td>
<h4>About</h4>
<ul>
<li><a href="https://www.stridenyc.com/contact">Contact Us</a></li>
<li><a href="https://www.stridenyc.com/events">Events</a></li>
<li><a href="https://www.stridenyc.com/careers">Careers</a></li>
</ul>
</td>
</tr>
</tbody>
</table></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-7 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell footer-copyright" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-8 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-rich_text " style="" data-widget-type="rich_text" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_1506963045724446" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><p>Copyright © 2017 Stride. All rights reserved.</p></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-9 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-raw_jinja " style="min-height:0px;" data-widget-type="raw_jinja" data-x="0" data-w="12">
<!-- start Main.js DO NOT REMOVE -->
<script src="https://www.stridenyc.com/hs-fs/hub/2136473/hub_generated/template_assets/1507149259008/custom/page/Stride_April_2016-theme/Stride_April_2016-main.min.js"></script>
<!-- end Main.js -->
<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?ver=4.4.2"></script>

<script type="text/javascript">/*  */
var tribeEventsSingleMap = {"addresses":[{"address":"135 W 18th St New York NY 10011 United States ","title":"The Altman Building"}],"zoom":"10"};
/*  */</script>

<script type="text/javascript" src="https://www.stridenyc.com/hubfs/Stride-April-2016-Theme/Js/embedded-map.min.js?t=1507670451932"></script>

</div><!--end widget-span -->

</div><!--end row-->
</div><!--end row-wrapper -->
</div><!-- end coded_template: id:5362429216 path:generated_global_groups/5362753721.html -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

    </div><!--end footer -->
</div><!--end footer wrapper -->


<script type="text/javascript" src="https://static.hsstatic.net/content_shared_assets/static-1.4049/js/public_common.js"></script>

        <!--[if lte IE 8]>
        <script charset="utf-8" src="https://js.hsforms.net/forms/v2-legacy.js"></script>
        <![endif]-->

<script src="https://js.hsforms.net/forms/v2.js"></script>

    <script>
        hbspt.forms.create({
            portalId: '2136473',
            formId: 'cd2479b8-d913-4904-ba01-9c85e41b48ab',
            formInstanceId: '4679',
            pageId: 4727476453,




            pageName: "Stride | Agile Software Development Consultancy | NYC",


            redirectUrl: "https:\/\/www.stridenyc.com\/thank-you-improve-team-communication-with-5-easy-steps",



            css: '',
            target: '#hs_form_target_module_1490977608348546',





            contentType: "standard-page",

            formData: {
            cssClass: 'hs-form stacked hs-custom-form'
            }
        });
    </script>


<!-- Start of HubSpot Analytics Code -->
<script type="text/javascript">
var _hsq = _hsq || [];
_hsq.push(["setContentType", "standard-page"]);
_hsq.push(["setCanonicalUrl", "https:\/\/www.stridenyc.com"]);
_hsq.push(["setPageId", "4727476453"]);
_hsq.push(["setContentMetadata", {
    "contentPageId": 4727476453,
    "legacyPageId": "4727476453",
    "contentGroupId": null,
    "abTestId": null,
    "languageVariantId": 4727476453,
    "languageCode": null
}]);
_hsq.push(["setTargetedContentMetadata", []]);
</script>

<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/2136473.js"></script>
<!-- End of HubSpot Analytics Code -->


<script type="text/javascript">
var hsVars = {
    ticks: 1507734227777,
    page_id: 4727476453,
    content_group_id: 0,
    portal_id: 2136473,
    app_hs_base_url: "https://app.hubspot.com",
    language: "en",
    analytics_page_type: "standard-page"
}
</script>



<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P8ZQ6M5" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- Hotjar Tracking Code for http://www.stridenyc.com -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:208702,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script>

<script type="text/javascript" src="https://snip.ly/site/57a358eb76ae5622c1883f3e.js"></script>





    <!-- Generated by the HubSpot Template Builder - template version 1.03 -->
<!-- Editor Styles -->
<style id="hs_editor_style" type="text/css">
#hs_cos_wrapper_module_1485365576637615  { font-weight: bold !important; display: block !important }
#hs_cos_wrapper_module_1485365576637615 p , #hs_cos_wrapper_module_1485365576637615 li , #hs_cos_wrapper_module_1485365576637615 span , #hs_cos_wrapper_module_1485365576637615 label , #hs_cos_wrapper_module_1485365576637615 h1 , #hs_cos_wrapper_module_1485365576637615 h2 , #hs_cos_wrapper_module_1485365576637615 h3 , #hs_cos_wrapper_module_1485365576637615 h4 , #hs_cos_wrapper_module_1485365576637615 h5 , #hs_cos_wrapper_module_1485365576637615 h6  { font-weight: bold !important }

</style>

<!-- end coded_template: id:4647923871 path:generated_layouts/4647923866.html -->
</body></html>