
<!doctype html>
<!-- start coded_template: id:4647923871 path:generated_layouts/4647923866.html -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en" > <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en" >        <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en" >               <![endif]-->
<!--[if gt IE 8]>
  <!-->
    <html class="no-js" lang="en">
    <!--<![endif]-->
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="author" content="Stride">
      <meta name="description" content="Want to Build a Better Software? Let us make your vision a reality. Our Agile Software Developers at Stride are dedicated to delivering real results fast.">
      <meta name="generator" content="HubSpot">
      <title>Stride | Agile Software Development Consultancy | NYC</title>
      <link rel="shortcut icon" href="https://www.stridenyc.com/hubfs/Stride-April-2016-Theme/Images/favicon-32x32.png?t=1507670451932">


      <script src="https://static.hsstatic.net/jquery-libs/static-1.1/jquery/jquery-1.7.1.js">
      </script>
      <script type="text/javascript">hsjQuery = window['jQuery']</script>

      <meta property="og:description" content="Want to Build a Better Software? Let us make your vision a reality. Our Agile Software Developers at Stride are dedicated to delivering real results fast.">
      <meta property="og:title" content="Stride | Agile Software Development Consultancy | NYC">
      <meta name="twitter:description" content="Want to Build a Better Software? Let us make your vision a reality. Our Agile Software Developers at Stride are dedicated to delivering real results fast.">
      <meta name="twitter:title" content="Stride | Agile Software Development Consultancy | NYC">






      <!--  Added by GoogleAnalytics integration -->

      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-52681708-1', 'auto');
        ga('send', 'pageview');
      </script>

      <!-- /Added by GoogleAnalytics integration -->


      <link rel="canonical" href="https://www.stridenyc.com">

      <meta name="viewport" content="width=device-width, initial-scale=1">


      <!-- Start Alexa Certify Javascript -->
      <script type="text/javascript">
        _atrk_opts = { atrk_acct:"WtBrp1IW1d106C", domain:"stridenyc.com",dynamic: true};
        (function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://d31qbv1cthcecs.cloudfront.net/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
      </script>
      <noscript>&lt;img  src="https://d5nxst8fruw4z.cloudfront.net/atrk.gif?account=WtBrp1IW1d106C" style="display:none" height="1" width="1" alt=""&gt;</noscript>
      <!-- End Alexa Certify Javascript -->

      <meta name="google-site-verification" content="Fm4oTrHp4M9dC2EjPntb0EhnXt44RYXLiCgSG0iWJXo">

      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-P8ZQ6M5');</script>
    <!-- End Google Tag Manager -->

    <!-- DO NOT MODIFY -->
    <!-- Quora Pixel Code (JS Helper) -->
    <script>
      !function(q,e,v,n,t,s){if(q.qp) return; n=q.qp=function(){n.qp?n.qp.apply(n,arguments):n.queue.push(arguments);}; n.queue=[];t=document.createElement(e);t.async=!0;t.src=v; s=document.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t,s);}(window, 'script', 'https://a.quora.com/qevents.js');
      qp('init', 'b909f807d72e45f78445ad912427e9c4');
      qp('track', 'ViewContent');
    </script>
    <noscript>&lt;img  height="1" width="1" style="display:none" src="https://q.quora.com/_/ad/b909f807d72e45f78445ad912427e9c4/pixel?tag=ViewContent&amp;amp;noscript=1"&gt;</noscript>
    <!-- End of Quora Pixel Code -->
    <script>qp('track', 'Generic');</script>


    <script src="https://use.typekit.net/yov6zgr.js">
    </script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <meta property="og:url" content="https://www.stridenyc.com">
    <link rel="stylesheet" type="text/css" href="{{resolve "/css/style.css"}}">



  </head>
  <body class="site-page home-page-layout homepage-revamp   hs-content-id-4727476453 hs-site-page page" style="background-color: #eee">
    <img height="1" width="1" style="display:none" src="https://www.quora.com/_/ad/b909f807d72e45f78445ad912427e9c4/pixel">
    {{> header}}


<!--end body wrapper -->

 <script src="https://www.stridenyc.com/hs-fs/hub/2136473/hub_generated/template_assets/1507149259008/custom/page/Stride_April_2016-theme/Stride_April_2016-main.min.js">
                </script>
                <!-- end Main.js -->
                <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?ver=4.4.2">
                </script>

                <script type="text/javascript">/*  */
                var tribeEventsSingleMap = {"addresses":[{"address":"135 W 18th St New York NY 10011 United States ","title":"The Altman Building"}],"zoom":"10"};
              /*  */</script>

              <script type="text/javascript" src="https://www.stridenyc.com/hubfs/Stride-April-2016-Theme/Js/embedded-map.min.js?t=1507670451932">
              </script><!--end footer wrapper -->


<script type="text/javascript" src="https://static.hsstatic.net/content_shared_assets/static-1.4049/js/public_common.js">
</script>

        <!--[if lte IE 8]>
        <script charset="utf-8" src="https://js.hsforms.net/forms/v2-legacy.js">
        </script>
      <![endif]-->

      <script src="https://js.hsforms.net/forms/v2.js">
      </script>

      <script>
        hbspt.forms.create({
          portalId: '2136473',
          formId: 'cd2479b8-d913-4904-ba01-9c85e41b48ab',
          formInstanceId: '4679',
          pageId: 4727476453,




          pageName: "Stride | Agile Software Development Consultancy | NYC",


          redirectUrl: "https:\/\/www.stridenyc.com\/thank-you-improve-team-communication-with-5-easy-steps",



          css: '',
          target: '#hs_form_target_module_1490977608348546',





          contentType: "standard-page",

          formData: {
            cssClass: 'hs-form stacked hs-custom-form'
          }
        });
      </script>


      <!-- Start of HubSpot Analytics Code -->
      <script type="text/javascript">
        var _hsq = _hsq || [];
        _hsq.push(["setContentType", "standard-page"]);
        _hsq.push(["setCanonicalUrl", "https:\/\/www.stridenyc.com"]);
        _hsq.push(["setPageId", "4727476453"]);
        _hsq.push(["setContentMetadata", {
          "contentPageId": 4727476453,
          "legacyPageId": "4727476453",
          "contentGroupId": null,
          "abTestId": null,
          "languageVariantId": 4727476453,
          "languageCode": null
        }]);
        _hsq.push(["setTargetedContentMetadata", []]);
      </script>

      <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/2136473.js">
      </script>
      <!-- End of HubSpot Analytics Code -->


      <script type="text/javascript">
        var hsVars = {
          ticks: 1507734227777,
          page_id: 4727476453,
          content_group_id: 0,
          portal_id: 2136473,
          app_hs_base_url: "https://app.hubspot.com",
          language: "en",
          analytics_page_type: "standard-page"
        }
      </script>



      <!-- Google Tag Manager (noscript) -->
      <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P8ZQ6M5" height="0" width="0" style="display:none;visibility:hidden">
        </iframe>
      </noscript>
      <!-- End Google Tag Manager (noscript) -->

      <!-- Hotjar Tracking Code for http://www.stridenyc.com -->
      <script>
        (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:208702,hjsv:5};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
        })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
      </script>

      <script type="text/javascript" src="https://snip.ly/site/57a358eb76ae5622c1883f3e.js">
      </script>





      <!-- Generated by the HubSpot Template Builder - template version 1.03 -->
      <!-- Editor Styles -->
      <style id="hs_editor_style" type="text/css">
      #hs_cos_wrapper_module_1485365576637615  { font-weight: bold !important; display: block !important }
      #hs_cos_wrapper_module_1485365576637615 p , #hs_cos_wrapper_module_1485365576637615 li , #hs_cos_wrapper_module_1485365576637615 span , #hs_cos_wrapper_module_1485365576637615 label , #hs_cos_wrapper_module_1485365576637615 h1 , #hs_cos_wrapper_module_1485365576637615 h2 , #hs_cos_wrapper_module_1485365576637615 h3 , #hs_cos_wrapper_module_1485365576637615 h4 , #hs_cos_wrapper_module_1485365576637615 h5 , #hs_cos_wrapper_module_1485365576637615 h6  { font-weight: bold !important }

    </style>

    <!-- end coded_template: id:4647923871 path:generated_layouts/4647923866.html -->
  </body>
  </html>