
<!doctype html>
<!-- start coded_template: id:4647923871 path:generated_layouts/4647923866.html -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en" > <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en" >        <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en" >               <![endif]-->
<!--[if gt IE 8]>
  <!-->
    <html class="no-js" lang="en">
    <!--<![endif]-->
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="author" content="Stride">
      <meta name="description" content="Want to Build a Better Software? Let us make your vision a reality. Our Agile Software Developers at Stride are dedicated to delivering real results fast.">
      <meta name="generator" content="HubSpot">
      <title>Stride | Agile Software Development Consultancy | NYC</title>
      <link rel="shortcut icon" href="https://www.stridenyc.com/hubfs/Stride-April-2016-Theme/Images/favicon-32x32.png?t=1507670451932">


      <script src="https://static.hsstatic.net/jquery-libs/static-1.1/jquery/jquery-1.7.1.js">
      </script>
      <script type="text/javascript">hsjQuery = window['jQuery']</script>

      <meta property="og:description" content="Want to Build a Better Software? Let us make your vision a reality. Our Agile Software Developers at Stride are dedicated to delivering real results fast.">
      <meta property="og:title" content="Stride | Agile Software Development Consultancy | NYC">
      <meta name="twitter:description" content="Want to Build a Better Software? Let us make your vision a reality. Our Agile Software Developers at Stride are dedicated to delivering real results fast.">
      <meta name="twitter:title" content="Stride | Agile Software Development Consultancy | NYC">






      <!--  Added by GoogleAnalytics integration -->

      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-52681708-1', 'auto');
        ga('send', 'pageview');
      </script>

      <!-- /Added by GoogleAnalytics integration -->


      <link rel="canonical" href="https://www.stridenyc.com">

      <meta name="viewport" content="width=device-width, initial-scale=1">


      <!-- Start Alexa Certify Javascript -->
      <script type="text/javascript">
        _atrk_opts = { atrk_acct:"WtBrp1IW1d106C", domain:"stridenyc.com",dynamic: true};
        (function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://d31qbv1cthcecs.cloudfront.net/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
      </script>
      <noscript>&lt;img  src="https://d5nxst8fruw4z.cloudfront.net/atrk.gif?account=WtBrp1IW1d106C" style="display:none" height="1" width="1" alt=""&gt;</noscript>
      <!-- End Alexa Certify Javascript -->

      <meta name="google-site-verification" content="Fm4oTrHp4M9dC2EjPntb0EhnXt44RYXLiCgSG0iWJXo">

      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-P8ZQ6M5');</script>
    <!-- End Google Tag Manager -->

    <!-- DO NOT MODIFY -->
    <!-- Quora Pixel Code (JS Helper) -->
    <script>
      !function(q,e,v,n,t,s){if(q.qp) return; n=q.qp=function(){n.qp?n.qp.apply(n,arguments):n.queue.push(arguments);}; n.queue=[];t=document.createElement(e);t.async=!0;t.src=v; s=document.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t,s);}(window, 'script', 'https://a.quora.com/qevents.js');
      qp('init', 'b909f807d72e45f78445ad912427e9c4');
      qp('track', 'ViewContent');
    </script>
    <noscript>&lt;img  height="1" width="1" style="display:none" src="https://q.quora.com/_/ad/b909f807d72e45f78445ad912427e9c4/pixel?tag=ViewContent&amp;amp;noscript=1"&gt;</noscript>
    <!-- End of Quora Pixel Code -->
    <script>qp('track', 'Generic');</script>


    <script src="https://use.typekit.net/yov6zgr.js">
    </script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <meta property="og:url" content="https://www.stridenyc.com">
    <link rel="stylesheet" type="text/css" href="{{resolve "/css/style.css"}}">



  </head>
  <body class="site-page home-page-layout homepage-revamp   hs-content-id-4727476453 hs-site-page page">
    {{> header}}
    <p>Scroll down</p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
        <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
        <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
        <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p>persistent menu</p>
 </body>
  </html>