<form>
    <div class="hs_firstname field hs-form-field">
<div class="input">
    <input class="hs-input" type="text" name="firstname" required="" value="" placeholder="First Name">
</div>
</div>
<div class="hs_email field hs-form-field">
<div class="input">
    <input class="hs-input" type="email" name="email" required="" placeholder="Email" value="">
</div>
</div>
<div class="hs_submit">
<div class="actions">
    <input type="submit" value="Get Ebook Now" class="cta_button">
</div>
</div>
</form>