<div class="header-container-wrapper">
    <div class="header-container container-fluid">

<div class="row-fluid-wrapper row-depth-1 row-number-1 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-global_group " style="" data-widget-type="global_group" data-x="0" data-w="12">
<!-- start coded_template: id:5362753663 path:generated_global_groups/5362753662.html -->
<div class="" data-global-widget-path="generated_global_groups/5362753662.html"><div class="row-fluid-wrapper row-depth-1 row-number-1 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell custom-header-v3" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-2 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell page-center" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-3 ">
<div class="row-fluid ">
<div class="span2 widget-span widget-type-rich_text header-logo" style="" data-widget-type="rich_text" data-x="0" data-w="2">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_14594885617772456" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><a href="//www.stridenyc.com"><img src="https://www.stridenyc.com/hubfs/Stride-April-2016-Theme/Images/stridelogo.png?t=1508188339085" alt="stridenyc"></a></span>
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
<div class="span10 widget-span widget-type-cell header-right-content" style="" data-widget-type="cell" data-x="2" data-w="10">

<div class="row-fluid-wrapper row-depth-1 row-number-4 ">
<div class="row-fluid ">
<div class="header-menu-wrapper">
    <div class="inline-block menu-holder">
        <div class="mobile-trigger"><i></i></div>

<div class="span12 widget-span widget-type-menu header--top--nav" style="" data-widget-type="menu" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
<span id="hs_cos_wrapper_module_13884994340213" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_menu" style="" data-hs-cos-general-type="widget" data-hs-cos-type="menu"><div id="hs_menu_wrapper_module_13884994340213" class="hs-menu-wrapper active-branch flyouts hs-menu-flow-vertical_flyouts" role="navigation" data-sitemap-name="Stride October 2017 Theme-Header SiteMap">
 <ul>
  <li class="hs-menu-item hs-menu-depth-1"><a href="https://www.stridenyc.com/agile-software-development-services">How We Help</a></li>
  <li class="hs-menu-item hs-menu-depth-1"><a href="https://www.stridenyc.com/our-work">Our Work</a></li>
  <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children"><a href="javascript:;">Learn</a>
   <ul class="hs-menu-children-wrapper">
    <li class="hs-menu-item hs-menu-depth-2"><a href="https://www.stridenyc.com/agile-software-development-resources">Resource Center</a></li>
    <li class="hs-menu-item hs-menu-depth-2"><a href="https://www.stridenyc.com/podcasts">Podcast</a></li>
    <li class="hs-menu-item hs-menu-depth-2"><a href="https://www.stridenyc.com/blog">Blog</a></li>
   </ul></li>
  <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children"><a href="javascript:;">About</a>
   <ul class="hs-menu-children-wrapper">
    <li class="hs-menu-item hs-menu-depth-2"><a href="https://www.stridenyc.com/about">Company</a></li>
    <li class="hs-menu-item hs-menu-depth-2"><a href="https://www.stridenyc.com/careers">Careers</a></li>
    <li class="hs-menu-item hs-menu-depth-2"><a href="https://www.stridenyc.com/events">Events</a></li>
    <li class="hs-menu-item hs-menu-depth-2"><a href="https://www.stridenyc.com/stride-press">Press</a></li>
   </ul></li>
  <li class="hs-menu-item hs-menu-depth-1"><a href="https://www.stridenyc.com/contact">Contact</a></li>
 </ul>
</div></span></div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->

    </div>
    <div class="inline-block cta-holder">
        <!--HubSpot Call-to-Action Code --><span class="hs-cta-wrapper" id="hs-cta-wrapper-40a9dad6-b5f5-4b25-895f-20c01bbb80b0"><span class="hs-cta-node hs-cta-40a9dad6-b5f5-4b25-895f-20c01bbb80b0" id="hs-cta-40a9dad6-b5f5-4b25-895f-20c01bbb80b0" style="visibility: visible;" data-hs-drop="true"><a class="cta_button" href="#" >Get Started</a></span><script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script><script type="text/javascript"> hbspt.cta.load(2136473, '40a9dad6-b5f5-4b25-895f-20c01bbb80b0', {}); </script></span><!-- end HubSpot Call-to-Action Code -->
    </div>
</div>
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->
</div><!-- end coded_template: id:5362753663 path:generated_global_groups/5362753662.html -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

    </div><!--end header -->
</div><!--end header wrapper -->