

.blog {
  .flex-wrap {
    max-width: 1170px !important;
    margin: auto;
    display: inline-block !important;
    float: none !important;
  }

  .cm-section-header-banner {
    height: 290px;
    padding-top: $gap5;
    background-image: url("https://cdn2.hubspot.net/hubfs/2136473/stride-content-hub-hero-v2.jpg?t=1506695891904") !important;
    background-position: bottom center;
    &:before {
      opacity: .1;
    }
  }

  .blog-pagination a {
    font-size: 22px;
    margin-bottom: 5px;
    display: inline-block;
  }

  .post--side-menu {
    margin-bottom: $gap2;
  }

  #content-search {
    font-size: 0;
    border: solid 1px #d3d3d3;
    display: inline-block;
    width: 100%;
    margin-bottom: $gap2;
    input {
      border: 0;
      font-family: $font-text;
      font-size: 16px;
      margin-bottom: 0;
      margin-top: -5px !important;
      &::placeholder {
        font-style: italic;
        color: $lighter-gray;
      }
    }
    > {
      div {
        width: 85%;
        display: inline-block;
        vertical-align: middle;
        padding-left: $gap;
      }
      .icon {
        width: 15%;
        background-color: $primary;
        display: inline-block;
        vertical-align: middle;
        color: $white;
        font-size: 18px;
        line-height: $gap4;
      }
    }
  }

  .post--side-menu {
    text-align: left;
  }

  .post--side-menu--categories {
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
  }

  .post--side-menu {
    > ul > li {
      position: relative;
      display: inline-block;
      line-height: $gap4;
      border-bottom: 0;
      font-size: 14px;
      font-weight: normal;
      text-transform: uppercase;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      cursor: pointer;
    }
    ul li:hover {
      cursor: pointer;
    }
    > ul > li {
      > a {
        display: inline-block;
        padding: 17px 14px;
        font-size: 15px;
        vertical-align: middle;
        text-decoration: none !important;
      }
      &:last-child {
        margin: 0 12px;
      }
      &.hs-item-has-children span.menu--name {
        padding: 12px 15px;
        color: $gray;
        font-size: 14px;
        text-transform: uppercase;
      }
      .menu--name:after {
        font-family: $font-icon;
        content: "\f0d7";
        font-size: 12px;
        padding-left: 6px;
        font-weight: normal;
        line-height: 1em;
        color: $dark-gray;
      }
      &.hs-item-has-children {
        ul {
          display: none;
          opacity: 0;
          filter: alpha(opacity = 0);
          position: absolute;
          width: 275px;
          top: 100%;
          left: 0;
          list-style: none;
          z-index: 10;
          text-transform: none;
          background: $white;
          padding: 16px;
          li a {
            text-decoration: none;
            font-size: 15px;
            display: block;
            padding: 0 12px;
            color: rgba(93, 103, 105, 0.5);
            &:hover {
              color: rgba(93, 103, 105, 1);
            }
          }
        }
        &:hover {
          ul {
            display: block !important;
            opacity: 1;
            filter: alpha(opacity = 100);
            li {
              display: block;
            }
          }
          > a {
            color: $white;
          }
          span.menu--name {
            background: $white;
          }
          .hs-item-has-children > a:after {
            color: $white;
          }
          ul.post--side-menu--social li {
            display: inline-block;
            margin: 0 4px 4px -4px;
          }
        }
        ul.post--side-menu--social li a {
          width: $gap4;
          height: $gap4;
          text-align: center;
          color: white !important;
          line-height: $gap4;
          padding: 0 !important;
        }
      }
      &.search {
        &:hover {
          background: $white;
        }
        padding: 0 12px;
        color: $gray;
        &.active {
          background: $white;
          ul {
            display: block !important;
            opacity: 1;
            filter: alpha(opacity = 100);
          }
        }
      }
    }
    .header--search {
      margin: 0;
      input {
        display: block;
        max-width: 100%;
        width: 100% !important;
        padding-top: $gap;
        padding-bottom: $gap;
        padding-left: $gap;
        padding-right: $gap;
        margin-top: 0;
        outline: 0;
        box-shadow: none;
        font-family: $font-text;
        color: $gray;
        font-size: 16px;
        line-height: 1.25em;
        font-weight: normal;
        border-color: $lighter-gray !important;
        border-style: solid !important;
        border-width: 1px !important;
        border-radius: 0 !important;
        border: 1px solid $lighter-gray !important !important;
        width: 100% !important;
        max-width: 100% !important;
        -webkit-appearance: none;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        height: auto !important;
        margin-bottom: 0 !important;
      }
    }
  }

  .gsc-control-cse {
    .gs-spelling {
      text-align: left !important;
    }
    .gs-result .gs-title {
      text-align: left !important;
      * {
        text-align: left !important;
      }
    }
  }

  .post--side-menu > ul > li {
    &:last-child {
      margin-right: 0;
    }
    &.post--side--subscribe > a {
      border: 2px solid $green;
      background: $green;
      padding: 1px 14px;
      color: white;
      min-width: 140px;
      text-align: center;
      font-weight: bold;
      -webkit-transition: all .25s ease;
      -moz-transition: all .25s ease;
      -o-transition: all .25s ease;
      transition: all .25s ease;
      &:hover {
        background: transparent;
        color: $green;
      }
    }
  }

  #topics-list {
    text-align: left;
    padding-left: $gap2;
    padding-right: $gap2;
    li {
      display: inline-block;
      font-size: 18px;
      a {
        font-weight: bold;
        color: $black;
      }
    }
  }

  .slim-bar {
    background-color: $dark-gray;
    color: $white;
    margin: $gap3 0;
    padding: $gap2;
    h4, h3 {
      text-align: left;
    }
    * {
      color: $white;
    }
    &.cta .page-center {
      max-width: 1170px;
      > h3 {
        display: inline-block;
        vertical-align: middle;
        width: 70%;
        margin: auto;
        text-align: left;
      }
    }
    &.form .page-center {
      font-size: 0;
      > h3 {
        width: 45%;
        margin-top: 0;
        + span {
          width: 50%;
          display: inline-block;
          form {
            .hs-input {
              min-height: 45px;
            }
            > div .hs-button {
              background-color: $accent;
              text-transform: uppercase;
              font-weight: bold;
            }
          }
        }
        display: inline-block;
      }
    }
  }

  @media only screen and (min-width: 768px) {
    .slim-bar.form .page-center > h3 + span form {
      > div {
        display: inline-block;
        width: 50%;
      }
      .hs-input {
        -moz-border-radius-topright: 0;
        -webkit-border-top-right-radius: 0;
        border-top-right-radius: 0;
        -moz-border-radius-bottomright: 0;
        -webkit-border-bottom-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      > div .hs-button {
        -moz-border-radius-topleft: 0;
        -webkit-border-top-left-radius: 0;
        border-top-left-radius: 0;
        -moz-border-radius-bottomleft: 0;
        -webkit-border-bottom-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }

  @media only screen and (max-width: 767px) {
    .slim-bar.form .page-center > h3 {
      margin-top: 0;
      + span {
        form > div {
          display: inline-block;
          width: 100%;
        }
        width: 100%;
      }
      width: 100%;
    }
  }
  &.communityy {
    a {
      text-decoration: none;
    }
    .community-hero {
      background: url("") no-repeat !important;
      background-size: cover !important;
      background-position: bottom center !important;
      background-repeat: no-repeat !important;
      background-attachment: fixed;
      padding: 0 0 !important;
      text-align: left;
      padding: 80px 0 80px 0 !important;
      position: relative;
      h1 {
        color: $white;
        margin-bottom: 0 !important;
      }
      h3 {
        margin: 0 !important;
      }
      &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgab(0, 0, 0, 0.25);
        z-index: 1;
      }
      .content {
        position: relative;
        z-index: 2;
        h3 {
          color: $white;
          font-size: 24px !important;
        }
        .hs_cos_wrapper {
          display: block;
          margin-top: 60px;
          h3 {
            font-size: 16px !important;
            margin-bottom: $gap !important;
          }
        }
        form {
          text-align: center;
          > div {
            display: inline-block;
          }
          label {
            display: none;
          }
          .hs_email, .hs_firstname {
            min-width: 250px;
          }
          .hs_email input, .hs_firstname input {
            border: solid 1px $lighter-gray !important;
          }
          .hs_email, .hs_firstname {
            padding: 0 $gap !important;
            display: inline-block;
          }
          .hs_submit {
            padding: 0 $gap !important;
            display: inline-block;
            .hs-button {
              border-radius: 0 !important;
              font-size: 14px !important;
              background: $lighter-gray;
              height: 36px !important;
              margin: 0 !important;
            }
          }
        }
      }
    }
    .hs-item-has-children:hover #hs_cos_wrapper_blog_categories_menu #hs_menu_wrapper_blog_categories_menu {
      display: block !important;
      opacity: 1;
      filter: alpha(opacity = 100);
    }
    .main-wrapper .topic-wrapper {
      margin-top: 48px !important;
      .community-topics {
        margin: auto;
        .community-topics-dropdown {
          display: none;
        }
        ul {
          list-style: none;
          margin: 0;
          margin-left: -7px !important;
          li {
            display: inline-block;
            float: left;
            margin: 0;
            line-height: $gap2 !important;
            padding: 0 6px;
            span.inner {
              display: block;
              position: relative;
              height: $gap5;
              a {
                font-size: 14px;
                font-weight: bold !important;
                color: $black !important;
                -webkit-transition: all .25s ease;
                transition: all .25s ease;
                padding: 12px;
                width: 100%;
                display: block;
                position: relative;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
                &:hover {
                  margin-top: 0;
                  color: $white !important;
                }
              }
            }
          }
          .all span.inner {
            border: 1px solid $lighter-gray !important;
            &:hover {
              background: $lighter-gray !important;
            }
          }
        }
      }
    }
    .community-listing {
      padding: $gap5 0 12px 0 !important;
      text-align: center;
      span {
        &.hs_cos_wrapper_type_widget_container, &.hs_cos_wrapper_type_rss_listing {
          display: inline-block;
          font-size: 0;
        }
        &.hs_cos_wrapper_type_widget_container > div, &.hs_cos_wrapper_type_rss_listing > div > div {
          max-width: 30%;
          margin-left: 1.5%;
          margin-right: 1.5%;
          margin-bottom: $gap3;
          display: inline-block;
          vertical-align: top;
        }
      }
    }
    .widget-type-blog_content .community-listing .post-holder > div {
      max-width: 30%;
      margin-left: 1.5%;
      margin-right: 1.5%;
      margin-bottom: $gap3;
      display: inline-block;
      vertical-align: top;
    }
    .community-listing {
      .featured-wrapper .lower-section {
        padding: $gap4;
      }
      .lower-section, .hs-rss-description {
        text-align: left;
      }
      .lower-section h3 {
        margin-top: 0;
        display: inline-block;
      }
      .hs-rss-item-text a.hs-rss-title span {
        font-family: $font-text;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        text-transform: normal;
        font-weight: 300;
        font-size: 26px;
        line-height: $gap3;
        letter-spacing: .4px;
        font-style: normal;
        color: $dark-gray;
        margin-top: $gap3;
        margin-bottom: $gap2;
      }
      .hs-rss-item.hs-with-featured-image {
        .hs-rss-item-text {
          padding-top: $gap4;
          padding-left: $gap4;
          padding-right: $gap4;
          text-align: left;
        }
        .hs-rss-item-image-wrapper, .hs-rss-item-text {
          width: 100%;
        }
      }
      .hs-rss-item-text .hs-rss-description a {
        &:before {
          content: '';
          display: block;
          position: relative;
          clear: both;
          width: 100%;
        }
        margin-top: 15px;
      }
      .btn.btn-blue, .hs-rss-item-text .hs-rss-description a {
        cursor: pointer;
        font-weight: bold;
        background-color: $primary;
        padding: 16px 18px;
        color: $white;
        text-decoration: none;
        border-radius: 4px;
        text-transform: uppercase;
        display: block;
        text-align: center;
      }
      .featured-wrapper {
        position: relative;
        margin-left: 0;
        &:nth-child(1) .post-wrap {
          padding-bottom: 24px !important;
          .post-inner {
            background-position: top center !important;
            min-height: 250px;
          }
          .time {
            position: absolute;
            bottom: 45px;
            left: 0;
            p, legend {
              margin-bottom: 0 !important;
              font-size: 13px !important;
            }
          }
          .mobile-share-icons {
            position: absolute;
            bottom: 23px;
            right: 24px;
            .twCount, .fbCount, .inCount {
              opacity: 0 !important;
              display: none;
            }
            &.collaboration .fa {
              color: $lighter-gray !important;
            }
            &.end-user-devices-and-services .fa {
              color: $lighter-gray !important;
            }
            &.cyber-security .fa {
              color: $lighter-gray !important;
            }
            &.data-center-cloud .fa {
              color: $lighter-gray !important;
            }
            .fa {
              font-size: 15px !important;
            }
            a {
              display: inline-block !important;
              text-align: center;
              opacity: 1;
              color: $black;
              margin: 0 !important;
              padding: 6px !important;
              padding-bottom: 0 !important;
              &:hover {
                opacity: 1;
              }
              span {
                padding-left: 17px !important;
                padding-right: 2px !important;
                font-size: 13px;
                padding-top: 6px;
                font-weight: 600;
              }
            }
          }
        }
      }
      .smart-cta {
        text-align: center;
        .inner {
          background: url("https://cdn2.hubspot.net/hubfs/2136473/assets/backgrounds/cta-background-content-hub.jpg?t=1506695891904") center center no-repeat;
          background-size: cover !important;
          position: relative;
          border: 0;
          padding: 0 $gap5;
          &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.75);
            z-index: -1;
          }
          .hs-cta-wrapper {
            display: block;
            position: relative;
            z-index: 2;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
          }
          h3, p {
            color: $white !important;
            display: inline-block;
          }
          .hs-cta-wrapper {
            h3 {
              font-weight: 700 !important;
            }
            h4 {
              border-top: 0 !important;
              font-size: 14px;
              font-style: italic;
              margin-bottom: 24px;
            }
            .cta_button {
              border-radius: 0 !important;
              span {
                font-weight: 700 !important;
              }
            }
          }
        }
        #hs-search-module {
          margin-bottom: -23px;
          .field {
            display: inline-block;
            width: 100%;
            label {
              display: none;
            }
            .hs-input {
              width: 65% !important;
              float: left !important;
              padding: 12px 12px !important;
              border: solid 1px $lighter-gray;
              margin-right: 0 !important;
              border-radius: 3px 0 0 3px !important;
            }
            .hs-button {
              float: left;
              width: 35%;
              background: $primary;
              text-align: center;
              padding: 7px 0;
              color: $white;
              text-transform: uppercase;
              font-size: 14px;
              border-radius: 0 3px 3px 0;
            }
          }
        }
      }
      .post-wrapper .post-wrap, .hs-rss-item {
        min-height: 400px;
        background: $white;
        margin-bottom: 2em;
        padding-bottom: 12px !important;
        position: relative;
        border: solid 1px #d3d3d3;
      }
      .post-wrapper .post-wrap {
        .lower {
          padding: 0 25px;
          .cta-holder {
            text-align: left;
            margin: $gap3 0;
          }
        }
        h3 {
          margin-bottom: 0 !important;
          line-height: 1.4em !important;
          font-weight: 700 !important;
          display: -webkit-box;
          text-align: left;
          margin-top: $gap;
        }
        p {
          text-align: left;
          line-height: 1.75em;
        }
        h3 {
          a {
            color: $black !important;
            &:hover {
              color: $light-gray !important;
              -webkit-transition: all .25s linear;
              transition: all .25s linear;
            }
          }
          .article-info {
            min-height: 130px;
            text-align: left;
          }
        }
        .category {
          background: $light-green;
          bottom: 0;
          position: absolute;
          text-align: center;
          left: 0;
          right: 0;
          &.collaboration {
            background: rgba(59, 172, 227, 0.75) !important;
          }
          &.end-user-devices-and-services {
            background: rgba(170, 208, 55, 0.75) !important;
          }
          &.cyber-security {
            background: rgba(92, 117, 185, 0.75) !important;
          }
          &.data-center-cloud {
            background: rgba(190, 66, 39, 0.75) !important;
          }
          a {
            color: $white !important;
            font-weight: 600;
          }
        }
        .time {
          p, legend {
            margin-bottom: 0 !important;
            font-size: 13px !important;
            text-align: center;
          }
        }
        .mobile-share-icons {
          text-align: center;
          .twCount, .fbCount, .inCount {
            opacity: 0 !important;
            display: none;
          }
          &.collaboration .fa {
            color: $lighter-gray !important;
          }
          &.end-user-devices-and-services .fa {
            color: $lighter-gray !important;
          }
          &.cyber-security .fa {
            color: $lighter-gray !important;
          }
          &.data-center-cloud .fa {
            color: $lighter-gray !important;
          }
          .fa {
            font-size: 15px !important;
          }
          a {
            display: inline-block !important;
            text-align: center;
            opacity: 1;
            color: $gray;
            margin: 0 !important;
            padding: 6px !important;
            padding-bottom: 0 !important;
            &:hover {
              opacity: 1;
            }
            span {
              padding-left: 17px !important;
              padding-right: 2px !important;
              font-size: 13px;
              padding-top: 6px;
              font-weight: 600;
            }
          }
        }
        &:hover .post-inner {
          -webkit-transition: all .15s linear;
          transition: all .15s linear;
        }
        .post-inner {
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          min-height: 125px;
          position: relative;
          border-radius: 0;
          overflow: hidden;
          border-collapse: collapse;
        }
      }
      .late-load {
        margin-left: 0 !important;
      }
      .end-text {
        text-align: center;
      }
    }
  }
  &.stacked {
    .blog-bar {
      background: $white;
      border-bottom: 1px solid $lighter-gray;
      border-top: 1px solid $lighter-gray;
      position: relative;
      > .grid > .grid__item {
        text-align: right;
      }
      .blog-bar-topic-list {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
        background: $black;
        z-index: 99;
        border: 1px solid $lighter-gray;
        border-bottom: 0;
        li {
          display: block;
          width: 100%;
          border-bottom: 1px solid $lighter-gray;
          background: $white;
          a {
            padding: 15px 25px;
            color: $gray;
            cursor: pointer;
            display: block;
            width: 100%;
            &:before {
              content: "â—";
            }
            &.topic--all:before {
              color: $black;
            }
            &.topic--collaboration:before {
              color: $lighter-gray;
            }
            &.topic--end-user-devices-and-services:before {
              color: $lighter-gray;
            }
            &.topic--cyber-security:before {
              color: $lighter-gray;
            }
            &.topic--data-center-and-cloud:before {
              color: $lighter-gray;
            }
          }
          &:hover {
            background: $white;
          }
        }
      }
      .blog-bar-topic-current {
        float: left;
        display: inline-block;
        width: 250px;
        position: relative;
        text-align: center;
        overflow: visible;
        > a {
          display: block;
          background: url("//cdn2.hubspot.net/hubfs/80068/images/assets/dropdown-icon-down.png?t=1506695891904") no-repeat 98% 50%;
          background-size: 16px;
          color: $white;
          padding: 15px 25px;
          &.topic--all {
            background-color: $black;
          }
          &.topic--collaboration {
            background-color: $lighter-gray;
          }
          &.topic--end-user-devices-and-services {
            background-color: $lighter-gray;
          }
          &.topic--cyber-security {
            background-color: $lighter-gray;
          }
          &.topic--data-center-and-cloud {
            background-color: $lighter-gray;
          }
        }
        &:hover .blog-bar-topic-list {
          display: block;
        }
      }
      .blog-bar-topic-secondary {
        background-color: $orange;
        float: left;
        display: inline-block;
        width: auto;
        margin-left: 15px;
        position: relative;
        text-align: center;
        a {
          display: block;
          color: $white;
          padding: 15px $gap2;
        }
      }
      .blog-bar-subscribe {
        display: inline-block;
        padding: $gap 0;
        .form-title {
          display: inline-block;
          font-size: 12px;
          line-height: $gap3;
          font-weight: normal !important;
          margin: 0;
        }
        > span > div {
          display: inline-block;
          form {
            margin-bottom: 0 !important;
            font-size: 12px;
            * {
              display: inline-block;
              width: auto;
              box-sizing: border-box;
            }
            label {
              display: none;
            }
            > div {
              display: inline-block;
              margin-bottom: 0 !important;
            }
            .hs-form-field {
              margin-bottom: 0;
            }
            .actions {
              margin: 0 !important;
              padding: 0 !important;
            }
            input.hs-input {
              border-radius: 0;
              border-width: 1px !important;
              height: $gap3 !important;
              font-size: 12px;
            }
            .hs_submit input {
              background: $dark-blue;
              border-radius: 0;
              outline: none !important;
              box-shadow: none !important;
              border: 0 !important;
              height: $gap3;
              margin: 0;
              font-size: 12px;
              line-height: 24px;
              -webkit-transition: background-color .3s ease-out;
              transition: background-color .3s ease-out;
              font-weight: 300;
            }
          }
        }
      }
      .blog-bar-search {
        display: inline-block;
        margin-left: 15px;
        .fa:before {
          color: $dark-gray;
          font-size: 24px;
          line-height: $gap3;
          vertical-align: middle;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
    .main-content {
      position: relative;
      right: -8px;
    }
    .community-listing {
      > .grid > .grid__item {
        font-size: 0;
        > div {
          margin-top: 25px;
        }
      }
      .post-item {
        .post-title {
          font-size: 16px;
          line-height: 22px;
          font-weight: bold;
          height: auto;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          a {
            font: inherit !important;
            color: inherit !important;
          }
        }
        .post-meta {
          overflow: auto;
          background: $white;
          padding: 15px;
          border: 1px solid $lighter-gray;
          border-top: 0;
          .post-description {
            max-height: 97px;
            overflow: hidden;
            margin-bottom: 24px;
            p, legend {
              margin-bottom: 0;
            }
          }
          .datetime {
            float: left;
            display: inline-block;
            overflow: auto;
            * {
              font-size: 11px;
              line-height: $gap3;
              display: inline-block;
              vertical-align: middle;
            }
            p, legend {
              margin-bottom: 0;
            }
            img.author-img {
              border-radius: 50%;
              float: left;
              width: $gap3;
              height: $gap3;
              margin-right: $gap;
            }
          }
          .social-share {
            display: inline-block;
            float: right;
            font-size: 11px;
            line-height: $gap3;
          }
        }
        > a {
          position: relative;
          display: block;
          height: 260px;
          border: 1px solid $lighter-gray;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          overflow: hidden;
          .overlay {
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $lighter-gray;
            opacity: 0;
            filter: alpha(opacity = 0);
            -webkit-transition: opacity .3s ease-out;
            transition: opacity .3s ease-out;
          }
          .category {
            display: inline-block;
            position: absolute;
            bottom: 15px;
            right: 15px;
            padding: 3px $gap;
            font-size: 12px;
            line-height: $gap2;
            vertical-align: middle;
            color: $white;
            min-width: 120px;
            text-align: center;
            -webkit-transition: bottom .3s ease-out;
            transition: bottom .3s ease-out;
          }
        }
        &:hover > a .overlay {
          opacity: .3;
          filter: alpha(opacity = 30);
        }
      }
      .cta-item {
        &.cta-item-1 div {
          background: $orange url("//cdn2.hubspot.net/hubfs/80068/CTAs/blog-cta-1-bg.jpg?t=1506695891904") no-repeat center center;
        }
        &.cta-item-2 div {
          background: $orange url("//cdn2.hubspot.net/hubfs/80068/CTAs/blog-cta-2-bg.png?t=1506695891904") no-repeat center center;
        }
        div {
          min-height: 451px;
          overflow: visible;
          position: relative;
          background-size: cover;
          > .hs-cta-wrapper {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -175px;
            margin-top: -175px;
          }
        }
      }
    }
  }
  &.single-post {
    background: $white !important;
    .page-content .body {
      p, legend {
        line-height: 1.7em !important;
      }
      .hbspt-form {
        max-width: 380px;
        margin: auto;
        margin-top: $gap5;
        input {
          width: 100%;
        }
        .hs-button {
          box-shadow: none !important;
          text-shadow: none !important;
          border: 0 !important;
          &:hover {
            background: $light-gray;
          }
        }
      }
    }
    .hero {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
      .overlay {
        position: relative;
        background: rgba(0, 0, 0, 0.5);
        z-index: 5;
        padding: 80px 0;
        &.collaboration {
          border-bottom: solid 15px $lighter-gray !important;
        }
        &.end-user-devices-and-services {
          border-bottom: solid 15px #aad037 !important;
        }
        &.cyber-security {
          border-bottom: solid 15px #5c75b9 !important;
        }
        &.data-center-cloud {
          border-bottom: solid 15px #be4227 !important;
        }
        .author span {
          padding: 3px 5px;
        }
        .content {
          margin: 0;
          position: relative;
          .post-info {
            font-weight: 700;
          }
          * {
            color: white;
          }
          p, legend {
            margin-bottom: 0;
          }
        }
      }
    }
    .content {
      padding: $gap4 0;
      position: relative;
      .page-content {
        position: relative;
      }
      .socialsidebar {
        right: -125px;
      }
      .mobile-cta {
        margin-top: 18px;
      }
      .blog-authors {
        padding: 80px 0;
        .avatar img {
          width: 146px;
          height: 146px;
          border-radius: 50%;
        }
        h4 {
          margin-bottom: 0;
        }
        p, legend {
          padding: 14px 0;
          line-height: 1.7em;
          margin-bottom: 0;
        }
        h3 {
          font-weight: 700;
          a {
            margin-left: 6px;
            color: $lighter-gray !important;
          }
        }
      }
      .comments {
        border-top: solid 1px $primary;
        padding-top: 0;
        .form {
          border: solid 1px $lighter-gray !important;
          #comments-listing {
            display: none;
          }
          #comment-form {
            padding: 24px;
            textarea {
              min-width: 100%;
            }
          }
          .title {
            background: $lighter-gray !important;
            text-align: center;
            padding: 14px 0;
            h3 {
              color: $white;
            }
          }
          label {
            font-weight: bold;
            color: $black;
            margin-bottom: 0;
          }
          input {
            &[type="text"], &[type="email"] {
              border: solid 1px $lighter-gray !important;
            }
          }
          textarea {
            border: solid 1px $lighter-gray !important;
          }
          .hs_lastName, .hs_website, .hs_subscribe {
            display: none;
          }
          .hs_firstName, .hs_email {
            display: inline-block;
            width: 50%;
          }
          .hs_firstName, .hs_lastName {
            padding-right: 9px !important;
          }
          .hs_subscribe {
            margin-bottom: 0 !important;
          }
          .hs_website {
            clear: both;
          }
          ul.inputs-list {
            margin: 0 !important;
            padding: 0 !important;
          }
          input[type="checkbox"] {
            padding: 0 !important;
            width: auto !important;
            height: auto !important;
            margin-right: 5px;
          }
          .hs_submit {
            width: 42.5%;
            margin: auto;
            .hs-button {
              font-size: 12px;
              font-weight: bold;
              border: 0;
              color: $white;
              background: $lighter-gray;
              border-radius: 0;
            }
          }
        }
        .comments-box {
          padding: 0 24px;
          color: $black;
          #comments-listing, .comment {
            border: 0 !important;
          }
          .comment-from {
            padding-bottom: 0;
            h4 {
              margin-bottom: $gap;
            }
          }
          .comment-date {
            display: none;
          }
          .comment-body {
            border-top: solid 1px $lighter-gray;
            padding: 0;
            p, legend {
              color: $black;
              margin: $gap 0;
            }
          }
          .comment-reply-to {
            background: none !important;
            padding-left: 0;
            em {
              font-weight: 800;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1023px) {
  .blog.communityy .community-hero .content form > div {
    display: block;
  }
}

@media only screen and (max-width: 1023px) {
  .blog.communityy .main-wrapper .topic-wrapper .community-topics .community-topics-dropdown {
    display: inline-block;
  }
}

@media only screen and (max-width: 1023px) {
  .blog.communityy .main-wrapper .topic-wrapper .community-topics ul {
    display: none;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .blog.communityy {
    .community-listing span {
      &.hs_cos_wrapper_type_widget_container > div, &.hs_cos_wrapper_type_rss_listing > div > div {
        max-width: 43% !important;
      }
    }
    .widget-type-blog_content .community-listing .post-holder > div {
      max-width: 43% !important;
    }
  }
}

@media only screen and (max-width: 480px) {
  .blog.communityy {
    .community-listing span {
      &.hs_cos_wrapper_type_widget_container > div, &.hs_cos_wrapper_type_rss_listing > div > div {
        max-width: 100% !important;
      }
    }
    .widget-type-blog_content .community-listing .post-holder > div {
      max-width: 100% !important;
    }
  }
}

@media (min-width: 768px) {
  .blog.communityy .community-listing .featured-wrapper {
    max-width: 63% !important;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .blog.communityy .community-listing span.hs_cos_wrapper_type_widget_container > div {
    max-width: 43% !important;
  }
}

@media only screen and (max-width: 480px) {
  .blog.communityy .community-listing {
    span.hs_cos_wrapper_type_widget_container > div {
      max-width: 100%;
    }
    padding: $gap5 0 0 0;
  }
}

@media only screen and (min-width: 481px) and (max-width: 1023px) {}

@media only screen and (max-width: 480px) {}

@media only screen and (min-width: 481px) and (max-width: 1023px) {}

@media only screen and (max-width: 480px) {
  .blog.communityy .community-listing .featured-wrapper:nth-child(1) .post-wrap {
    padding-bottom: 54px !important;
  }
}

@media (min-width: 768px) {
  .blog.communityy .community-listing .smart-cta {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 767px) {
  .blog.communityy .community-listing .smart-cta {
    margin-bottom: $gap3;
  }
}

@media only screen and (max-width: 480px) {
  .blog.communityy .community-listing .post-wrapper .post-wrap h3 {
    font-size: 1.3em;
    margin-bottom: $gap4 !important;
  }
}

@media only screen and (max-width: 480px) {
  .blog.communityy .community-listing .padding-wrapper {
    padding-left: 0 !important;
    margin-left: 0;
    .post-wrap {
      margin-left: 0;
    }
  }
}

@media only screen and (min-width: 481px) and (max-width: 1023px) {
  .blog.communityy .community-listing .late-load {
    margin-left: -2px !important;
  }
}

@media only screen and (max-width: 480px) {
  .blog.communityy .community-listing .late-load {
    padding-left: 0 !important;
    margin-left: 0;
    .post-wrap {
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 635px) {
  .blog.stacked .blog-bar > .grid > .grid__item {
    text-align: center;
    padding: 0 !important;
  }
}

@media screen and (max-width: 635px) {
  .blog.stacked .blog-bar .blog-bar-topic-current {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 635px) {
  .blog.stacked .blog-bar .blog-bar-topic-secondary {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 481px) {
  .blog.stacked .blog-bar .blog-bar-subscribe {
    margin-left: 15px;
  }
}

@media screen and (max-width: 850px) {
  .blog.stacked .blog-bar .blog-bar-subscribe .form-title {
    display: none;
  }
}

@media only screen and (min-width: 481px) {
  .blog.stacked .blog-bar .blog-bar-subscribe > span > div form {
    margin-left: 15px;
  }
}

@media only screen and (min-width: 1024px) {
  .blog.stacked .community-listing .post-item.post-feature .post-title {
    font-size: 23px;
    line-height: 33px;
    font-weight: bold;
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

@media screen and (max-width: 768px) {
  .blog.stacked .community-listing .cta-item div > .hs-cta-wrapper {
    position: relative;
    top: auto;
    left: auto;
    max-width: 96%;
    margin: 0 auto;
    padding: 25px 0;
  }
}

@media only screen and (max-width: 480px) {
  .blog.stacked .community-listing .cta-item div {
    min-height: 0;
  }
}

@media only screen and (min-width: 481px) and (max-width: 1023px) {
  .blog.single-post {
    padding-bottom: 53px !important;
  }
}

@media only screen and (max-width: 480px) {
  .blog.single-post {
    padding-bottom: 51px !important;
  }
}

@media only screen and (min-width: 1024px) {
  .blog.single-post .hero .overlay .content h1 {
    padding: 0 $gap2;
  }
}

@media only screen and (max-width: 480px) {
  .blog.single-post .content .comments .form {
    .hs_firstName, .hs_email {
      float: none !important;
      width: 100% !important;
    }
  }
}

@media only screen and (max-width: 1023px) {
  .blog.single-post .content .comments .form .hs_submit {
    width: 100%;
  }
}