a.cta_button {
  @include transition;
  cursor: pointer;
  font-weight: bold; background-color: $accent;
  padding: 15px 25px;
  color: $white;
  text-decoration: none;
  @include radius(normal, 3px);
  @include shadow(normal, 0 3px 0 rgba(0, 0, 0, 0.1));
  &:hover {
    background-color: darken($accent, 10%);
    @include shadow(text, 0 1px 0 rgba(0, 0, 0, 0.5));
    @include shadow(normal, 0 2px 0 rgba(0, 0, 0, 0.15));
    }
}

// a lot of importants because hubspot adds rules to an id, somewhere.