.header-container-wrapper {
  @include media($size-md, min) {
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
  }

  a:not(.cta_button) {
    color: $dark-gray !important;
    @include transition;
    &:hover {
      color: $accent !important;
    }
  }

  .cta-holder, .menu-holder {

    vertical-align: top !important;
  }
  .header--top--nav {
    .hs-menu-wrapper > ul {
      overflow: hidden;
      padding-right: $gap;
      list-style-type: none;
      margin-bottom: 0;
      .hs-menu-children-wrapper {
        adisplay: none;
      }
      &:hover {
        overflow: visible;
        .hs-menu-children-wrapper {
          display: block;
        }
      }
      > li {
        display: inline-block;
        a {
          font-weight: 600;
          text-decoration: none;
        }
        &:first-child > a:before {
          display: none;
        }
        &.hs-item-has-children {
          position: relative;
          .hs-menu-children-wrapper {
            position: absolute;
            top: 100%;
            left: -12px;
            right: -12px;
            opacity: 0;
            padding: 0;
            padding-top: 0;
            min-width: 220px;
            background-color: $white;
            overflow: auto;
            max-height: 80vh;
            -moz-box-shadow: 0 5px $gap 5px rgba(0, 0, 0, 0.15);
            -webkit-box-shadow: 0 5px $gap 5px rgba(0, 0, 0, 0.15);
            box-shadow: 0 5px $gap 5px rgba(0, 0, 0, 0.15);
            overflow: hidden;
            &::-webkit-scrollbar {
              width: 12px;
            }
            &::-webkit-scrollbar-track {
              -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
              border-radius: 2px;
            }
            &::-webkit-scrollbar-thumb {
              border-radius: 2px;
              -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
            }
            li {
              text-align: left;
              padding: 0 4px;
              a {
                display: block;
                line-height: 24px;
                padding: 8px;
              }
            }
          }
          > a {
            padding-right: 0;
            margin-right: 0;
            padding-right: 5px;
            &:after {
              content: '\f0d7';
              font-family: FontAwesome;
              padding-left: $gap;
              background-color: transparent !important;
              margin-left: 0;
              margin-right: 15px;
            }
            &:hover:after {
              content: '\f0d8';
            }
          }
        }
        &:hover .hs-menu-children-wrapper {
          opacity: 1;
          z-index: 9999;
          a {
            text-transform: capitalize;
          }
        }
      }
    }
    .active-branch a {
      color: $dark-gray;
      font-weight: 400;
      font-size: 14px;
      padding: 0;
      padding-right: $gap2;
      line-height: 25px;
    }
  }
  .cta-holder .hs-cta-wrapper a {
    font-size: 14px;
  }
}

@media (min-width: $size-md) {
  .header-menu-wrapper {
    float: right;
    height: 60px;
    display: block;
  }
  .header--top--nav {
    display: block !important;
  }
  .header-container-wrapper .custom-header-v3 .inline-block {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
  }
}

@media (max-width: $size-sm) {
  .header-container-wrapper .header--top--nav .hs-menu-wrapper > ul > li.hs-item-has-children .hs-menu-children-wrapper {
    display: block !important;
    position: relative;
    margin: 0 !important;
    box-shadow: none;
    opacity: 1;
    z-index: 9999;
    padding-left: $gap2 !important;
  }
  .custom-header-v3 {
    .menu-holder {
      ul {
        width: 180px;
        margin: $gap3 0 !important;
      }
      position: relative;
      top: $gap2;
    }
    .header-logo {
      float: left !important;
    }
    .header-right-content {
      float: right !important;
    }
    .mobile-trigger {
      position: absolute;
      top: 0;
    }
  }
  .header-container-wrapper .custom-header-v3 {
    .menu-holder .header--top--nav, .cta-holder {
      display: none;
    }
    .hs-menu-children-wrapper {
      display: none !important;
    }
  }
  .custom-footer-v3 .menu-holder table {
    width: 100%;
    float: none !important;
    tr td {
      display: block;
      width: 100%;
      padding: 0;
    }
  }
}

.custom-header-v3 {
  background-color: rgba($white, .95);
  @include shadow(normal, 0 3px 10px rgba(0, 0, 0, 0.1));

}

.header-logo {
  padding: 5px 0;
}