.header-container-wrapper {
  @include media($size-md, min) {
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    .custom-header-v3 {
      background-color: rgba($white, .95);
      border-bottom: solid 1px $primary;
      @include shadow(normal, 0px 3px 0 rgba(0, 0, 0, 0.07));
      @include transition;
      &:hover {
        background-color: $white;
      }

    }
  }
  @include media($size-md, max) {
    .custom-header-v3 {
      background-color: white;
    }
  }
  .header-logo {
    padding-left: $gap;
  }
  a:not(.cta_button) {
    color: $dark-gray !important;
    @include transition;
    &:hover {
      color: $accent !important;
    }
  }

  //   a.cta_button {
  //   background-color: $primary !important;

  //   &:hover {
  //     background-color: $secondary !important;
  //   }
  // }

  .cta-holder, .menu-holder {
    vertical-align: top !important;

  }
  .menu-holder {
    display: block;
  }

  .header--top--nav {
    .hs-menu-wrapper > ul {
      list-style-type: none;
      @include media($size-md, min) {
        margin: $header-height 5px 0 0;
      }
      @include media($size-md, max) {
        margin: $gap $gap3;
        margin-top: 0;
        @include clearfix;
      }
      @media screen and (max-width: $size-md) and (min-width: 400px) {
        & > li {
          width: 50%;
          float: left;
        }
      }

      .hs-menu-children-wrapper {
        display: none;
      }
      &:hover {
        overflow: visible;
        .hs-menu-children-wrapper {
          display: block;
        }
      }
      & > li {
        display: inline-block;
        a {
          font-weight: 600;
          text-decoration: none;
        }
        &:first-child > a:before {
          display: none;
        }
        &.hs-item-has-children {
          position: relative;
          .hs-menu-children-wrapper {
            position: absolute;
            top: 100%;
            left: -12px;
            right: -12px;
            opacity: 0;
            padding: 0;
            @include media($size-md, min) {
              padding-top: 17px;
            }
            min-width: 200px;
            background-color: $white;
            overflow: auto;
            max-height: 80vh;
            @include media($size-md, min) {
              border-bottom: solid 1px $primary;
              @include shadow(normal, 0 3px 0 rgba(0, 0, 0, 0.07));
              li {

                border-left: solid 1px $primary;
                border-right: solid 1px $primary;
                a {
                  display: block;
                  line-height: 24px;
                  padding: $gap;
                  &:hover {
                    background-color: #eee;
                  }
                }
              }
            }
            overflow: hidden;
            &::-webkit-scrollbar {
              width: 12px;
            }
            &::-webkit-scrollbar-track {
              -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
              border-radius: 2px;
            }
            &::-webkit-scrollbar-thumb {
              border-radius: 2px;
              -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
            }
            li {
              text-align: left;
              padding: 0;

            }
          }
          > a {
            padding-right: 0;
            margin-right: 0;
            padding-right: 5px;
            @include media($size-md, min) {
              &:after {
                content: '\f0d7';
                font-family: $font-icon;
                font-size: 10px;
                padding-left: 5px;
                background-color: transparent !important;
                margin-left: 0;
                margin-right: 10px;
              }
            }
            @include media($size-md, max) {
              @include disable(link);
              color: $light-gray !important;
            }
          }
        }
        &:hover .hs-menu-children-wrapper {
          opacity: 1;
          z-index: 9999;
          a {
            text-transform: capitalize;
          }
        }
      }
    }
    .active-branch a {
      color: $dark-gray;
      font-weight: 400;
      font-size: 14px;
      padding: 0;
      padding-right: $gap2;
      line-height: 25px;
    }
  }
  .cta-holder .hs-cta-wrapper a {
    font-size: 14px;
    margin-top: $header-height;
  }
}

@media (min-width: $size-md) {
  .header-menu-wrapper {
    float: right;
    height: $header-height;
    display: block;
  }
  .header--top--nav {
    display: block !important;
  }
  .header-container-wrapper .custom-header-v3 .inline-block {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
  }
}

@media (max-width: $size-sm) {
  .header-container-wrapper .header--top--nav .hs-menu-wrapper > ul > li.hs-item-has-children .hs-menu-children-wrapper {
    display: block !important;
    position: relative;
    margin: 0 !important;
    box-shadow: none;
    opacity: 1;
    z-index: 9999;
    padding-left: $gap2 !important;
  }
  .custom-header-v3 {
    .header-logo {
      display: inline-block;
    }
    .header-right-content {
      display: block;
      width: 100%;
    }
    .mobile-trigger {
      position: absolute;
      top: 0;
    }
  }
  .header-container-wrapper .custom-header-v3 {
    .menu-holder .header--top--nav, .cta-holder {
      display: none;
    }
    .hs-menu-children-wrapper {
      display: none !important;
    }
  }
  .custom-footer-v3 .menu-holder table {
    width: 100%;
    float: none !important;
    tr td {
      display: block;
      width: 100%;
      padding: 0;
    }
  }
}



.header-logo {
  padding: 0;
  height: $header-height;

  a {
    svg {
      width: 100px;
      height: $header-height;
      padding: 10px 0;
      * {
        fill: $primary;
        @include transition;

      }
    }
    &:hover svg * {
      fill: $secondary;
    }
    height: $header-height;
    display: block;

  }
}

@media (max-width: $size-sm) {
  .mobile-trigger {
    display: inline-block !important;
    cursor: pointer;
    position: absolute;
    padding: 0;
    margin-top: -45px;
    right: $gap;
    width: auto;
    height: auto;
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    text-transform: uppercase;
    &:hover {
      text-decoration: none;
      background-color: $white;
      border-color: transparent;
    }
    i {
      position: relative;
      &:before, &:after {
        position: absolute;
        content: "";
      }
      width: 22px;
      height: 2px;
      -webkit-border-radius: 1px;
      -moz-border-radius: 1px;
      border-radius: 1px;
      background-color: $primary;
      display: inline-block;
      @include transition;
      &:before, &:after {
        @include transition;
        width: 22px;
        height: 2px;
        -webkit-border-radius: 1px;
        -moz-border-radius: 1px;
        border-radius: 1px;
        background-color: $primary;
        display: inline-block;
      }
      &:before {
        top: -6px;
      }
      &:after {
        top: 6px;
      }
    }
    &:hover i {
      background-color: $secondary;
      &:before, &:after {
        background-color: $secondary;
      }
    }
    .mobile-open & {
     i {
      background: transparent !important;

    }

    i {
      &:before {
        transform: translateY(6px) translateX(0) rotate(45deg);
        -webkit-transform: translateY(6px) translateX(0) rotate(45deg);
        -moz-transform: translateY(6px) translateX(0) rotate(45deg);
      }
      &:after {
        transform: translateY(-6px) translateX(0) rotate(-45deg);
        -webkit-transform: translateY(-6px) translateX(0) rotate(-45deg);
        -moz-transform: translateY(-6px) translateX(0) rotate(-45deg);
      }
    }
  }
}
}